<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.unifiedauth.dao.UserRolesMapper">

    <insert id="insertRolesByUser" parameterType="java.util.HashMap">
        INSERT INTO auth_user_roles(user_id, role_id)
        <foreach item="item" index="index" collection="account_roles.role_ids" open="(" close=")" separator="union">
            select
            #{account_roles.user_id,jdbcType=VARCHAR},
            #{item,jdbcType=VARCHAR}
            from dual
        </foreach>
    </insert>

    <delete id="deleteRolesByUser" parameterType="java.lang.String">
        DELETE FROM auth_user_roles WHERE  user_id = #{user_id}
    </delete>

    <resultMap id="roles" type="map">
        <result property="user_id" column="user_id"/>
        <result property="role_id" column="role_id"/>
        <result property="update_time" column="update_time"/>
        <result property="create_time" column="create_time"/>
    </resultMap>
    <select id="queryUserRoleMapByUser" resultMap="roles">
        SELECT role_id FROM auth_user_roles
        WHERE user_id = #{user_id}
    </select>
</mapper>