<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.alarmcenter.dao.AlarmInformationMapper">

    <select id="getCount" parameterType="com.cetccity.operationcenter.webframework.alarmcenter.dao.entity.ALARM_INFORMATION" resultType="java.lang.Integer">
        select count(*)
        from ALARM_INFORMATION where 1=1
        <if test="ALARM_STATE != null">
            and ALARM_STATE = #{ALARM_STATE}
        </if>
        <if test="SEND_STATE != null">
            and SEND_STATE = #{SEND_STATE}
        </if>
        <if test="ALARM_TYPE_LV1 != null">
            and ALARM_TYPE_LV1 = #{ALARM_TYPE_LV1}
        </if>
        <if test="ALARM_OBJECT != null">
            and ALARM_OBJECT = #{ALARM_OBJECT}
        </if>
        <if test="originTableName != null">
            and ORIGIN_TABLE_NAME = #{originTableName}
        </if>
        <if test="RELEASE_TIME != null">
            and to_char(RELEASE_TIME,'yyyy-MM-dd HH24:mi:ss') like concat(#{RELEASE_TIME},'%')
        </if>
        <if test="startTime != null">
            and RELEASE_TIME &gt; to_date(#{startTime},'yyyy-MM')
        </if>
        <if test="endTime != null">
            and RELEASE_TIME &lt;= to_date(#{endTime},'yyyy-MM')
        </if>
    </select>

    <select id="getALARM_INFORMATION" parameterType="com.cetccity.operationcenter.webframework.alarmcenter.dao.entity.ALARM_INFORMATION" resultType="com.cetccity.operationcenter.webframework.alarmcenter.dao.entity.ALARM_INFORMATION">
        select  ROWID AS ID,OBJECT_ID,ALARM_OBJECT,F_ROW_ID,ORIGIN_TABLE_NAME,SYSTEM_ID,RELEASE_TIME,CANCEL_TIME,RELEASE_PERSON,
        ALARM_STATE,CONTENTS,ALARM_LEVEL,ALARM_TYPE_LV1,ALARM_TYPE_LV2,DISPOSAL_STATE,SEND_STATE,CHANNEL,YJJC_CREATE_TIME,
        YJJC_UPDATE_TIME,LDDM,JD84,WD84,REGION_CODE,STREET_CODE,COMMUNITY_CODE,ADDRESS,STREET_NAME,COMMUNITY_NAME
        from ALARM_INFORMATION
        <where>
          <if test="ALARM_TYPE_LV1 != null">
                and ALARM_TYPE_LV1 = #{ALARM_TYPE_LV1}
            </if>
            <if test="ALARM_TYPE_LV2 != null">
                and ALARM_TYPE_LV2 = #{ALARM_TYPE_LV2}
            </if>
            <if test="DISPOSAL_STATE != null">
                and DISPOSAL_STATE = #{DISPOSAL_STATE}
            </if>
            <if test="ALARM_STATE != null">
                and ALARM_STATE = #{ALARM_STATE}
            </if>
            <if test="SEND_STATE != null">
                and SEND_STATE = #{SEND_STATE}
            </if>
            <if test="STREET_CODE != null">
                and STREET_CODE = #{STREET_CODE}
            </if>
            <if test="originTableName != null and originTableName != ''">
                and ORIGIN_TABLE_NAME = #{originTableName}
            </if>
            <if test="ID != null">
                and ROWID = #{ID}
            </if>
            <if test="RELEASE_TIME != null">
                and to_char(RELEASE_TIME,'yyyy-mm-dd') like concat(#{RELEASE_TIME},'%')
            </if>
            <if test="startTime != null and startTime != ''">
                and RELEASE_TIME &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="endTime != null and endTime != ''">
                and RELEASE_TIME &lt; to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="condition != null and condition != ''">
                AND ALARM_TYPE_LV2 IN (SELECT DISTINCT LV_2 FROM ALARM_INFO_CODE WHERE LV_2_NAME like #{condition})
            </if>
            <if test="ALARM_LEVEL != null and ALARM_LEVEL != ''">
                AND ALARM_LEVEL in (${ALARM_LEVEL})
            </if>
        </where>
        order by RELEASE_TIME desc
    </select>

    <select id="earlyInformationCenter" parameterType="com.cetccity.operationcenter.webframework.alarmcenter.dao.entity.ALARM_INFORMATION" resultType="com.cetccity.operationcenter.webframework.alarmcenter.dao.entity.ALARM_INFORMATION">
        select DISTINCT a.ROWID AS ID,a.OBJECT_ID,a.ALARM_OBJECT,a.F_ROW_ID,a.ORIGIN_TABLE_NAME,a.SYSTEM_ID,a.RELEASE_TIME,
        a.CANCEL_TIME,a.RELEASE_PERSON,
        a.ALARM_STATE,(select CODE_IN_CHINESE from DS_VALUE_DICT where TABLE_NAME = 'ALARM_INFORMATION' and COLUMN_NAME = 'ALARM_STATE' and CODE = a.ALARM_STATE)as ALARM_NAME,
        a.CONTENTS,a.ALARM_LEVEL,a.ALARM_TYPE_LV1,b.LV_1_NAME,a.ALARM_TYPE_LV2,b.LV_2_NAME,
        a.DISPOSAL_STATE,(select CODE_IN_CHINESE from DS_VALUE_DICT where TABLE_NAME = 'ALARM_INFORMATION' and COLUMN_NAME = 'DISPOSAL_STATE' and CODE = a.DISPOSAL_STATE)as DISPOSAL_NAME,
        a.SEND_STATE,a.CHANNEL,a.YJJC_CREATE_TIME,a.YJJC_UPDATE_TIME,a.LDDM,a.JD84,a.WD84,a.REGION_CODE,
        a.STREET_CODE,a.COMMUNITY_CODE,a.ADDRESS,a.STREET_NAME,a.COMMUNITY_NAME
        from ALARM_INFORMATION a , ALARM_INFO_CODE b where 1=1
        and a.ALARM_TYPE_LV1 = b.LV_1
        and a.ALARM_TYPE_LV2 = b.LV_2
        <if test="ID != null and ID != ''">
            and a.ROWID = #{ID}
        </if>
        <if test="ALARM_STATE != null and ALARM_STATE != ''">
            and a.ALARM_STATE = #{ALARM_STATE}
        </if>
        <if test="SEND_STATE != null">
            and SEND_STATE = #{SEND_STATE}
        </if>
        <if test="ALARM_TYPE_LV1 != null and ALARM_TYPE_LV1 != ''">
            and a.ALARM_TYPE_LV1 = #{ALARM_TYPE_LV1}
        </if>
        <if test="ALARM_TYPE_LV2 != null and ALARM_TYPE_LV2 != ''">
            and a.ALARM_TYPE_LV2 = #{ALARM_TYPE_LV2}
        </if>
        <if test="STREET_CODE != null and STREET_CODE != ''">
            and a.STREET_CODE = #{STREET_CODE}
        </if>
        <if test="COMMUNITY_CODE != null and COMMUNITY_CODE != ''">
            and a.COMMUNITY_CODE = #{COMMUNITY_CODE}
        </if>
        <if test="DISPOSAL_STATE != null">
            and a.DISPOSAL_STATE = #{DISPOSAL_STATE}
        </if>
        <if test="startTime != null and startTime != ''">
            and a.RELEASE_TIME &gt;= to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime != null and endTime != ''">
            and a.RELEASE_TIME &lt; to_date(#{endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        order by RELEASE_TIME desc
    </select>

    <select id="alarmFour" parameterType="com.cetccity.operationcenter.webframework.alarmcenter.dao.entity.ALARM_INFORMATION" resultType="com.cetccity.operationcenter.webframework.alarmcenter.dao.entity.ALARM_INFORMATION">
        select  ROWID AS ID,OBJECT_ID,ALARM_OBJECT,F_ROW_ID,ORIGIN_TABLE_NAME,SYSTEM_ID,RELEASE_TIME,CANCEL_TIME,RELEASE_PERSON,
        ALARM_STATE,CONTENTS,ALARM_LEVEL,ALARM_TYPE_LV1,ALARM_TYPE_LV2,DISPOSAL_STATE,SEND_STATE,CHANNEL,YJJC_CREATE_TIME,
        YJJC_UPDATE_TIME,LDDM,JD84,WD84,REGION_CODE,STREET_CODE,COMMUNITY_CODE,ADDRESS,STREET_NAME,COMMUNITY_NAME
        from ALARM_INFORMATION
        where ALARM_STATE = 1
        and (ALARM_TYPE_LV1 = '003'
        or ALARM_TYPE_LV1 = '001')
        order by RELEASE_TIME desc
    </select>

    <select id="iotDeviceTrendThree" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT * FROM(
        select m.month X, NVl(a.value, 0) 触发报警次数, NVl(b.value, 0) 推送数量,NVl(c.value, 0) 处理数量 from
        (select to_char(RELEASE_TIME,'yyyy-mm') month from ALARM_INFORMATION  group by to_char(RELEASE_TIME,'yyyy-mm') union
        select to_char(RELEASE_TIME,'yyyy-mm') month from ALARM_INFORMATION  group by to_char(RELEASE_TIME,'yyyy-mm') union
        select to_char(RELEASE_TIME,'yyyy-mm') month from ALARM_INFORMATION  group by to_char(RELEASE_TIME,'yyyy-mm')) m
        LEFT JOIN
        (select count(*) value, to_char(RELEASE_TIME,'yyyy-mm') month from ALARM_INFORMATION WHERE ORIGIN_TABLE_NAME = 'IOT_EVENT' group by to_char(RELEASE_TIME,'yyyy-mm')) a ON m.month = a.month
        LEFT JOIN
        (select count(*) value,to_char(RELEASE_TIME,'yyyy-mm') month from ALARM_INFORMATION WHERE ORIGIN_TABLE_NAME = 'IOT_EVENT' AND send_state = '1' group by to_char(RELEASE_TIME,'yyyy-mm')) b on m.month = b.month
        left join
        (select count(*) value, to_char(RELEASE_TIME,'yyyy-mm') month from ALARM_INFORMATION WHERE ORIGIN_TABLE_NAME = 'IOT_EVENT' AND disposal_state &lt;&gt; '0' group by to_char(RELEASE_TIME,'yyyy-mm')) c on m.month = c.month
        ORDER BY m.month DESC
        )WHERE ROWNUM &lt;= 12 ORDER BY X
    </select>

</mapper>