<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.urbansign.dao.BLK_HOUSEMapper">

    <select id="getCount" parameterType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.BLK_HOUSE" resultType="java.lang.Integer">
        select count(*) from BLK_HOUSE
        <where>
          <if test="SYQK != null">
                and SYQK = #{SYQK}
            </if>
            <if test="STREET_CODE != null">
                and STREET_CODE = #{STREET_CODE}
            </if>
            <if test="COMMUNITY_CODE != null">
                and COMMUNITY_CODE = #{COMMUNITY_CODE}
            </if>
            <if test="SQDM != null">
                and SQDM = #{SQDM}
            </if>
            <if test="JDDM != null">
                and JDDM = #{JDDM}
            </if>
        </where>
    </select>

</mapper>