<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.urbansign.dao.EcologicalEnvironmentMapper">


    <!--<select id="querySiteValueByMonth" resultType="java.util.HashMap">
        &lt;!&ndash;查询每月平均值&ndash;&gt;
        select m.month, NVl(a.value, 0) 污染源废水站点, NVl(b.value, 0) 环境空气站点,NVl(c.value, 0) 地表水 from
        (select to_char(MONITOR_TIME,'yyyy-mm') month from QHSJ_ENTERPRISE_HOUR_DATA  group by to_char(MONITOR_TIME,'yyyy-mm') union
        select to_char(MONITOR_TIME,'yyyy-mm') month from QHSJ_AIR_MONITOR_HOUR_DATA  group by to_char(MONITOR_TIME,'yyyy-mm') union
        select to_char(MONITOR_TIME,'yyyy-mm') month from QHSJ_SFW_MONITOR_HOUR_DATA  group by to_char(MONITOR_TIME,'yyyy-mm')) m
        LEFT JOIN
        (select round(avg(MONITOR_VALUE), 0) value, to_char(MONITOR_TIME,'yyyy-mm') month from QHSJ_ENTERPRISE_HOUR_DATA  group by to_char(MONITOR_TIME,'yyyy-mm')) a
        ON m.month = a.month LEFT JOIN
        (select round(avg(MONITOR_VALUE), 0) value,to_char(MONITOR_TIME,'yyyy-mm') month from QHSJ_AIR_MONITOR_HOUR_DATA  group by to_char(MONITOR_TIME,'yyyy-mm')) b
        on m.month = b.month left join
        (select round(avg(MONITOR_VALUE), 0) value, to_char(MONITOR_TIME,'yyyy-mm') month from QHSJ_SFW_MONITOR_HOUR_DATA  group by to_char(MONITOR_TIME,'yyyy-mm')) c
        on m.month = c.month ORDER BY m.month
    </select>-->
    <select id="querySiteValueByMonth" resultType="java.util.HashMap">
        select * from (SELECT to_char(MONITOR_TIME,'yyyy-mm-dd HH24') time,round(avg(AQI_VALUE),0) 空气质量指数  FROM QHSJ_AQI_INFO GROUP BY MONITOR_TIME ORDER BY MONITOR_TIME DESC) where rownum  &lt;= 24 ORDER BY time
    </select>

    <select id="queryEnterpriseValueAndTime" resultType="java.util.HashMap">
        select MONITOR_VALUE, MONITOR_TIME from QHSJ_ENTERPRISE_HOUR_DATA
    </select>
    <select id="queryAirValueAndTime" resultType="java.util.HashMap">
        select MONITOR_VALUE, MONITOR_TIME from QHSJ_AIR_MONITOR_HOUR_DATA
    </select>
    <select id="querySurfWaterValueAndTime" resultType="java.util.HashMap">
        select MONITOR_VALUE, MONITOR_TIME from QHSJ_SFW_MONITOR_HOUR_DATA
    </select>

    <select id="queryAirValueAndDay" resultType="java.util.HashMap">
        select * from (SELECT to_char(MONITOR_TIME,'yyyy-mm-dd') time, round(avg(AQI_VALUE),0) 空气质量指数
        FROM QHSJ_AQI_INFO GROUP BY to_char(MONITOR_TIME,'yyyy-mm-dd') ORDER BY to_char(MONITOR_TIME,'yyyy-mm-dd') DESC)
        where rownum &lt;= 15
    </select>

    <select id="airExcessByStationDay" parameterType="java.util.Map" resultType="java.util.HashMap">
        select * from (SELECT to_char(RELEASE_TIME,'yyyy-mm-dd') time,COUNT(*) 检测站超标数量
        FROM ALARM_INFORMATION WHERE ORIGIN_TABLE_NAME = #{station} GROUP BY to_char(RELEASE_TIME,'yyyy-mm-dd') ORDER BY to_char(RELEASE_TIME,'yyyy-mm-dd') DESC)
        WHERE Time >= #{day}
    </select>

    <select id="airExcessByStationMonth" parameterType="java.util.Map" resultType="java.util.HashMap">
        select * from (SELECT to_char(RELEASE_TIME,'yyyy-mm') time,COUNT(*) 检测站超标数量
        FROM ALARM_INFORMATION WHERE ORIGIN_TABLE_NAME = #{station} GROUP BY to_char(RELEASE_TIME,'yyyy-mm') ORDER BY to_char(RELEASE_TIME,'yyyy-mm') DESC)
        WHERE Time >= #{month}
    </select>

    <select id="stationDistribution" resultType="java.util.HashMap">
        select m.STREET_CODE, NVl(a.value, 0) 空气监测站数量 ,NVl(b.value, 0) 水质监测站数量,NVl(c.value, 0) 污染源监测站数量 from
        (select STREET_CODE from QHSJ_T_AIR_BASICINFO  group by STREET_CODE union
        select STREET_CODE from QHSJ_SURF_WATER_BASICINFO  group by STREET_CODE union
        select STREET_CODE from QHSJ_ENTERPRISE_BASICINFO  group by STREET_CODE) m
        LEFT JOIN
        (SELECT count(*) value,STREET_CODE  FROM QHSJ_T_AIR_BASICINFO GROUP BY STREET_CODE) a
        ON m.STREET_CODE = a.STREET_CODE LEFT JOIN
        (select count(*) value,STREET_CODE from QHSJ_SURF_WATER_BASICINFO  group by STREET_CODE) b
        on m.STREET_CODE = b.STREET_CODE left join
        (select count(*) value, STREET_CODE from QHSJ_ENTERPRISE_BASICINFO  group by STREET_CODE) c
        on m.STREET_CODE = c.STREET_CODE ORDER BY m.STREET_CODE
    </select>

    <select id="riverWaterQualityByQuarter1" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT RIVER_NAME,TARGET_WATER_QUALITY1 一季度目标水质,NOW_WATER_QUALITY1 一季度水质现状 FROM QHSJ_RIVERWATER_QUALITY_YEAR WHERE "YEAR" = #{year}
    </select>
    <select id="riverWaterQualityByQuarter2" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT RIVER_NAME,TARGET_WATER_QUALITY2 二季度目标水质,NOW_WATER_QUALITY2 二季度水质现状 FROM QHSJ_RIVERWATER_QUALITY_YEAR WHERE "YEAR" = #{year}
    </select>
    <select id="riverWaterQualityByQuarter3" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT RIVER_NAME,TARGET_WATER_QUALITY3 三季度目标水质,NOW_WATER_QUALITY3 三季度水质现状 FROM QHSJ_RIVERWATER_QUALITY_YEAR WHERE "YEAR" = #{year}
    </select>
    <select id="riverWaterQualityByQuarter4" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT RIVER_NAME,TARGET_WATER_QUALITY4 四季度目标水质,NOW_WATER_QUALITY4 四季度水质现状 FROM QHSJ_RIVERWATER_QUALITY_YEAR WHERE "YEAR" = #{year}
    </select>

    <select id="riverWaterDropDown" parameterType="java.lang.String" resultType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.QHSJ_RIVERWATER_QUALITY_YEAR">
        SELECT YEAR,round(avg(TARGET_WATER_QUALITY1),0) TARGET_WATER_QUALITY1,round(avg(NOW_WATER_QUALITY1),0) NOW_WATER_QUALITY1,
          round(avg(TARGET_WATER_QUALITY2),0) TARGET_WATER_QUALITY2,round(avg(NOW_WATER_QUALITY2),0) NOW_WATER_QUALITY2,
          round(avg(TARGET_WATER_QUALITY3),0) TARGET_WATER_QUALITY3,round(avg(NOW_WATER_QUALITY3),0) NOW_WATER_QUALITY3,
          round(avg(TARGET_WATER_QUALITY4),0) TARGET_WATER_QUALITY4,round(avg(NOW_WATER_QUALITY4),0) NOW_WATER_QUALITY4
        FROM QHSJ_RIVERWATER_QUALITY_YEAR GROUP BY "YEAR" ORDER BY "YEAR"
    </select>
</mapper>