<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.urbansign.dao.P2P_BUSINESS_GLOBALMapper">

    <select id="getPlatDetail" parameterType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.P2P_BUSINESS_GLOBAL" resultType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.P2P_BUSINESS_GLOBAL">
        select  MAIN_SEQNUM,SUB_SEQNUM,ORDER_NUM,PLATFORM_NAME, ENTERPRISE_NAME, SOCAIL_CREDIT_CODE,
        REGISTER_CAPITAL, PAID_IN_CAPITAL, FOUND_DATE, PLAT_WEBSITE, PLAT_UPTIME, WEBSITE_STATUS, REG_ADDR,
        REG_ADDRESS, OPER_ADDR, OPER_ADDRESS, BELONG_STREET, SHAREHOLDER_BACK, CONTROL_MAN_INFO,
        LEGAL_PERSON_INFO, CHAIRMAN_INFO, CFO_INFO, CTO_INFO, CONTACTOR_INFO, DEPOSIT_BANK_INFO, KEPT_BANK,
        MANAG_SITUATION, TOTAL_BORROWER, BORROWER_BALANCE, TOTAL_LENDER, TOTAL_COMPENSATION, NUM_UNDER_1W,
        INVEST_UNDER_1W, NUM_1W_5W, INVEST_1W_5W, NUM_5W_10W, INVEST_5W_10W, NUM_10W_15W, INVEST_10W_50W,
        NUM_UP_50W, INVEST_UP_50W, NUM_SZ_LOCAL, NUM_SZ_LOCAL_RATE, NUM_OUT_SZ, NUM_OUT_SZ_RATE,
        LENDER_STRUC_INFO, RISK_TYPE, RISK_LEVEL, SUSPECT_RISK, SMOKE_INDEX, FOLLOW_OFFICER, CASE_STAFF,
        STREET_HANDLER, INDUSTRY_NATURE, OPER_LAND_LABLE, REG_LAND_LABLE, IS_IN_CITYLIST, COMMENT2, COMMENT3,
        COMMENT4, COMMENT5, UPDATE_TIME, NCZ_BA_TC, RUNNING_STATUS, SLEF_CHECK_REPORT, TRUTH_COMMIT,
        VOLUN_QUIT_COMMIT, BANK_DEPOSIT_AGMT, REMARKS, FOLDER_NUM,OBJECT_ID,YJJC_CREATE_TIME,YJJC_UPDATE_TIME,
        REGION_CODE, ADDRESS, COMMUNITY_CODE, STREET_CODE, JD84, WD84, STREET_NAME, COMMUNITY_NAME
        from P2P_BUSINESS_GLOBAL
        <where>
            <if test="id != null">
                and ROWID = #{id}
            </if>
        </where>
    </select>

    <select id="selectCount" parameterType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.P2P_BUSINESS_GLOBAL" resultType="java.lang.Integer">
        select count(*) from P2P_BUSINESS_GLOBAL where 1=1
        <if test="RISK_TYPE != null">
            and RISK_TYPE like concat(#{RISK_TYPE},'%')
        </if>
    </select>

    <select id="getSmokeIndex" parameterType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.P2P_BUSINESS_GLOBAL" resultType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.P2P_BUSINESS_GLOBAL">
        select MAIN_SEQNUM,SUB_SEQNUM,ORDER_NUM,PLATFORM_NAME, ENTERPRISE_NAME, SOCAIL_CREDIT_CODE,
        REGISTER_CAPITAL, PAID_IN_CAPITAL, FOUND_DATE, PLAT_WEBSITE, PLAT_UPTIME, WEBSITE_STATUS, REG_ADDR,
        REG_ADDRESS, OPER_ADDR, OPER_ADDRESS, BELONG_STREET, SHAREHOLDER_BACK, CONTROL_MAN_INFO,
        LEGAL_PERSON_INFO, CHAIRMAN_INFO, CFO_INFO, CTO_INFO, CONTACTOR_INFO, DEPOSIT_BANK_INFO, KEPT_BANK,
        MANAG_SITUATION, TOTAL_BORROWER, BORROWER_BALANCE, TOTAL_LENDER, TOTAL_COMPENSATION, NUM_UNDER_1W,
        INVEST_UNDER_1W, NUM_1W_5W, INVEST_1W_5W, NUM_5W_10W, INVEST_5W_10W, NUM_10W_15W, INVEST_10W_50W,
        NUM_UP_50W, INVEST_UP_50W, NUM_SZ_LOCAL, NUM_SZ_LOCAL_RATE, NUM_OUT_SZ, NUM_OUT_SZ_RATE,
        LENDER_STRUC_INFO, RISK_TYPE, RISK_LEVEL, SUSPECT_RISK, SMOKE_INDEX, FOLLOW_OFFICER, CASE_STAFF,
        STREET_HANDLER, INDUSTRY_NATURE, OPER_LAND_LABLE, REG_LAND_LABLE, IS_IN_CITYLIST, COMMENT2, COMMENT3,
        COMMENT4, COMMENT5, UPDATE_TIME, NCZ_BA_TC, RUNNING_STATUS, SLEF_CHECK_REPORT, TRUTH_COMMIT,
        VOLUN_QUIT_COMMIT, BANK_DEPOSIT_AGMT, REMARKS, FOLDER_NUM,OBJECT_ID,YJJC_CREATE_TIME,YJJC_UPDATE_TIME,
        REGION_CODE, ADDRESS, COMMUNITY_CODE, STREET_CODE, JD84, WD84, STREET_NAME, COMMUNITY_NAME
        from P2P_BUSINESS_GLOBAL
        order by SMOKE_INDEX desc
    </select>

    <select id="getRepayment" parameterType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.P2P_BUSINESS_GLOBAL" resultType="com.cetccity.operationcenter.webframework.urbansign.dao.entity.P2P_BUSINESS_GLOBAL">
        select  MAIN_SEQNUM,SUB_SEQNUM,ORDER_NUM,PLATFORM_NAME, ENTERPRISE_NAME, SOCAIL_CREDIT_CODE,
        REGISTER_CAPITAL, PAID_IN_CAPITAL, FOUND_DATE, PLAT_WEBSITE, PLAT_UPTIME, WEBSITE_STATUS, REG_ADDR,
        REG_ADDRESS, OPER_ADDR, OPER_ADDRESS, BELONG_STREET, SHAREHOLDER_BACK, CONTROL_MAN_INFO,
        LEGAL_PERSON_INFO, CHAIRMAN_INFO, CFO_INFO, CTO_INFO, CONTACTOR_INFO, DEPOSIT_BANK_INFO, KEPT_BANK,
        MANAG_SITUATION, TOTAL_BORROWER, BORROWER_BALANCE, TOTAL_LENDER, TOTAL_COMPENSATION, NUM_UNDER_1W,
        INVEST_UNDER_1W, NUM_1W_5W, INVEST_1W_5W, NUM_5W_10W, INVEST_5W_10W, NUM_10W_15W, INVEST_10W_50W,
        NUM_UP_50W, INVEST_UP_50W, NUM_SZ_LOCAL, NUM_SZ_LOCAL_RATE, NUM_OUT_SZ, NUM_OUT_SZ_RATE,
        LENDER_STRUC_INFO, RISK_TYPE, RISK_LEVEL, SUSPECT_RISK, SMOKE_INDEX, FOLLOW_OFFICER, CASE_STAFF,
        STREET_HANDLER, INDUSTRY_NATURE, OPER_LAND_LABLE, REG_LAND_LABLE, IS_IN_CITYLIST, COMMENT2, COMMENT3,
        COMMENT4, COMMENT5, UPDATE_TIME, NCZ_BA_TC, RUNNING_STATUS, SLEF_CHECK_REPORT, TRUTH_COMMIT,
        VOLUN_QUIT_COMMIT, BANK_DEPOSIT_AGMT, REMARKS, FOLDER_NUM,OBJECT_ID,YJJC_CREATE_TIME,YJJC_UPDATE_TIME,
        REGION_CODE, ADDRESS, COMMUNITY_CODE, STREET_CODE, JD84, WD84, STREET_NAME, COMMUNITY_NAME
        from P2P_BUSINESS_GLOBAL
        order by TOTAL_COMPENSATION desc
    </select>

</mapper>