<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.urbansign.dao.RightThirteenMapper">

    <select id="getRightThirteenOfOne" parameterType="java.util.Map" resultType="java.util.HashMap">
        select replace(REGION_CODE,'440304','困难群众人员信息') NAME_X,count(REGION_CODE) NUM from BLK_DIFFICULT_PO WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','孕产妇健康管理登记') NAME_X,count(REGION_CODE) NUM from BLK_PREGNANT WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','残疾人员信息') NAME_X,count(REGION_CODE) NUM from BLK_DISABLED_PEOPLE WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','困难家庭基本信息') NAME_X,count(REGION_CODE) NUM from BLK_DIFFICULT_FA WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','失独家庭基本信息') NAME_X,count(REGION_CODE) NUM from BLK_LOST_FAMILY WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','无军籍职工基本信息') NAME_X,count(REGION_CODE) NUM from BLK_MILITARY_FREE_WORKERS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','失业人员基本信息') NAME_X,count(REGION_CODE) NUM from BLK_UNEMPLOYED_PERSONS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','困难党员信息') NAME_X,count(REGION_CODE) NUM from BLK_DIFFICULT_PARTY_MEM WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','困难职工基本信息') NAME_X,count(REGION_CODE) NUM from BLK_DIFFICULT_STAFF WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','五老人员') NAME_X,count(REGION_CODE) NUM from BLK_5_OLD WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','关爱女孩基本信息') NAME_X,count(REGION_CODE) NUM from BLK_GIRL_CARE WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','三属人员基本信息') NAME_X,count(REGION_CODE) NUM from BLK_3_SURVIVORS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','伤残家庭基本信息') NAME_X,count(REGION_CODE) NUM from BLK_DISABLED_FAMILY WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','低保边缘家庭') NAME_X,count(REGION_CODE) NUM from BLK_MINI_ASSURANCE WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','带病回乡人员基本信息') NAME_X,count(REGION_CODE) NUM from BLK_ILL_RETURN_PERSON WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','低保人员基本信息') NAME_X,count(REGION_CODE) NUM from BLK_MINI_ASSURANCE_PEOPLE WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','单亲家庭基本信息') NAME_X,count(REGION_CODE) NUM from BLK_SINGLE_PARENT WHERE REGION_CODE = '440304' GROUP BY REGION_CODE
    </select>

    <select id="getRightThirteenOfTwo" parameterType="java.util.Map" resultType="java.util.HashMap">
        select replace(REGION_CODE,'440304','残疾军人') NAME_X,count(REGION_CODE) NUM from BLK_DISABLED_MILITARY WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','因公牺牲军人遗属') NAME_X,count(REGION_CODE) NUM from BLK_SOILDER_SURVIVORS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        <!--select replace(REGION_CODE,'440304','伤残国家机关工作人员') NAME_X,count(REGION_CODE) NUM from BLK_STATE_ORGANS_DISABLED WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','60岁以上农村籍退役士兵信息') NAME_X,count(REGION_CODE) NUM from BLK_RETIRED_SOLDIER_NC_OVER60 WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION-->
        select replace(REGION_CODE,'440304','伤残人民警察') NAME_X,count(REGION_CODE) NUM from BLK_DISABLED_POLICE WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','病故军人遗属') NAME_X,count(REGION_CODE) NUM from BLK_SICK_SOLDIER WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','烈士遗属信息') NAME_X,count(REGION_CODE) NUM from BLK_MARTYR_DEPENDANTS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE
    </select>

    <select id="getRightThirteenOfThree" parameterType="java.util.Map" resultType="java.util.HashMap">
        /*select replace(REGION_CODE,'440304','现役军人信息') NAME_X,count(REGION_CODE) NUM from BLK_MILITARY WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','70_80高龄老人数据') NAME_X,count(REGION_CODE) NUM from BLK_OLD_ALLOWANCE_70 WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION*/
        select replace(REGION_CODE,'440304','复员军人信息') NAME_X,count(REGION_CODE) NUM from BLK_DEMOBILIZED_SOLDIERS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','100以上高龄老人数据') NAME_X,count(REGION_CODE) NUM from BLK_OLD_ALLOWANCE_100 WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','敬老优待证(黄/蓝证)') NAME_X,count(REGION_CODE) NUM from BLK_ELDER_CRETIFICATE WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        /*select replace(REGION_CODE,'440304','90_100高龄老人数据') NAME_X,count(REGION_CODE) NUM from BLK_OLD_ALLOWANCE_90 WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','80_90高龄老人数据') NAME_X,count(REGION_CODE) NUM from BLK_OLD_ALLOWANCE_80 WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION*/
        select replace(REGION_CODE,'440304','参战涉核人员基本信息') NAME_X,count(REGION_CODE) NUM from BLK_NUCLEAR_WAR_PERSONNEL WHERE REGION_CODE = '440304' GROUP BY REGION_CODE
    </select>

    <select id="getRightThirteenOfFour" parameterType="java.util.Map" resultType="java.util.HashMap">
        select replace(REGION_CODE,'440304','精神病人信息') NAME_X,count(REGION_CODE) NUM from BLK_MENTAL_PATIENT WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','关注人员总表') NAME_X,count(REGION_CODE) NUM from BLK_CONCERN_PERSON WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','社区矫正信息表') NAME_X,count(REGION_CODE) NUM from BLK_CMNTY_CORRECTION WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        /*select replace(REGION_CODE,'440304','稳控对象人员') NAME_X,count(REGION_CODE) NUM from BLK_STABLE_CONTROL_PERSON WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION*/
        select replace(REGION_CODE,'440304','安置帮教人员') NAME_X,count(REGION_CODE) NUM from BLK_HELP_EDUCATE_PEOPLE WHERE REGION_CODE = '440304' GROUP BY REGION_CODE
    </select>

    <select id="getRightThirteenOfFive" parameterType="java.util.Map" resultType="java.util.HashMap">
        select replace(REGION_CODE,'440304','重点上访人员') NAME_X,count(REGION_CODE) NUM from BLK_KEY_APPEALS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','肇事肇祸等严重精神障碍患者') NAME_X,count(REGION_CODE) NUM from BLK_BRAIN_DISABLED WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','基建工程兵信息') NAME_X,count(REGION_CODE) NUM from BLK_JIJIAN_CORPS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','刑满释放人员') NAME_X,count(REGION_CODE) NUM from BLK_RELEASED_PERSON WHERE REGION_CODE = '440304' GROUP BY REGION_CODE UNION
        select replace(REGION_CODE,'440304','吸毒人员信息') NAME_X,count(REGION_CODE) NUM from BLK_DRUG_ADDICTS WHERE REGION_CODE = '440304' GROUP BY REGION_CODE
    </select>

</mapper>