<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.urbansign.dao.UrbanComponentMapper">
    <resultMap id="nameValueModel" type="com.cetccity.operationcenter.webframework.core.frame.basicmodel.NameValueModel" >

        <result property="name" javaType="java.lang.String" column="NAME" />
        <result property="value" javaType="java.lang.String" column="VALUE" />
    </resultMap>

    <select id="countDeptComponent" resultMap="nameValueModel">
        SELECT
            NAME, SUM(VALUE) AS VALUE
        FROM
        (
            <foreach collection="tableNames" separator="UNION ALL" item="tableName">
                SELECT
                    COUNT(*) AS VALUE, DEPTNAME1 AS NAME
                FROM
                    ${tableName}
                <where>
                    <if test="streetName != null and streetName != ''">
                        STREET_NAME = #{streetName}
                    </if>
                </where>
                GROUP BY
                    DEPTNAME1
            </foreach>
        )
        GROUP BY NAME
    </select>

    <select id="countStreetDeptComponent" resultMap="nameValueModel">
        SELECT
            NAME, SUM(VALUE) AS VALUE
        FROM
        (
            <foreach collection="tableNames" separator="UNION ALL" item="tableName">
                SELECT
                    COUNT(*) AS VALUE, STREET_NAME AS NAME
                FROM
                    ${tableName}
                WHERE
                    STREET_NAME IS NOT NULL
                GROUP BY
                    STREET_NAME
            </foreach>
        )
        GROUP BY NAME
    </select>

    <select id="countStreetCodeDeptComponent" resultMap="com.cetccity.operationcenter.webframework.hiddendanger.dao.AllRegionHiddenDangerChartMapper.nameValueTypeModel">
        SELECT
            NAME, SUM(VALUE) AS VALUE
        FROM
        (
            <foreach collection="tableNames" separator="UNION ALL" item="tableName">
                SELECT
                    COUNT(*) AS VALUE, STREET_CODE AS NAME
                FROM
                    ${tableName}
                WHERE
                    STREET_CODE IS NOT NULL
                GROUP BY
                    STREET_CODE
            </foreach>
        )
        GROUP BY NAME
    </select>

    <select id="countCommunityDeptComponent" resultMap="nameValueModel">
        SELECT
            NAME, SUM(VALUE) AS VALUE
        FROM
        (
            <foreach collection="tableNames" separator="UNION ALL" item="tableName">
                SELECT
                    COUNT(*) AS VALUE, COMMUNITY_CODE AS NAME
                FROM
                    ${tableName}
                WHERE
                    STREET_NAME = #{streetName}
                AND
                    COMMUNITY_CODE IS NOT NULL
                GROUP BY
                    COMMUNITY_CODE
            </foreach>
        )
        GROUP BY NAME
    </select>

</mapper>