<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.trigger.dao.AlarmInfoCodeMapper">

    <select id="selectList" parameterType="java.util.Map" resultType="com.cetccity.operationcenter.webframework.trigger.entity.AlarmInfoCode">
        SELECT OBJECT_ID,LV_1,LV_1_NAME,LV_2,LV_2_NAME,YJJC_CREATE_TIME,YJJC_UPDATE_TIME,
            REGION_CODE,ADDRESS,COMMUNITY_CODE,STREET_CODE,JD84,WD84,STREET_NAME,COMMUNITY_NAME
        from ALARM_INFO_CODE
    </select>
</mapper>
