<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.trigger.dao.BlkChengguanEventMapper">
    
    <select id="queryAllByCondition" resultType="com.cetccity.operationcenter.webframework.trigger.entity.BlkChengguanEvent">
        SELECT
            *
        FROM
            BLK_CHENGGUAN_EVENT
        WHERE
            isdelete = '0'
        AND
            EVENT_SOURCE = 6
        AND
            (event_time + time_limit/24) &lt; sysdate
    </select>


    <select id="queryAllByObjectId" resultType="com.cetccity.operationcenter.webframework.trigger.entity.BlkChengguanEvent">
        SELECT
            *
        FROM
            BLK_CHENGGUAN_EVENT
        WHERE
            isdelete = '0'
        AND
            EVENT_SOURCE = 6
        AND
            (event_time + time_limit/24) &lt; sysdate
        <if test="object_id != null">
            AND OBJECT_ID > #{object_id}
        </if>
    </select>


</mapper>