<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.common.map.dao.MapMapper">
    <resultMap id="map_r" type="com.cetccity.operationcenter.webframework.common.map.entity.Group">
        <id property="objectId" column="OBJECT_ID" javaType="java.lang.String" jdbcType="NUMERIC" />
        <result property="id" column="ID" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="label" column="LABEL" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="pid" column="PID" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="type" column="TYPE_" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="show" column="SHOW" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="bm" column="BM" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="function" column="FUNCTION" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="url" column="URL" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="iconSize" column="ICON_SIZE" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="icon" column="ICON" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="table" column="TABLE_" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="query" column="QUERY" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="filter" column="FILTER" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="parentId" column="PARENT_ID" javaType="java.lang.String" jdbcType="NUMERIC" />
        <result property="description" column="DESCRIPTION" javaType="java.lang.String" jdbcType="VARCHAR" />
    </resultMap>

    <parameterMap id="groupParameter" type="com.cetccity.operationcenter.webframework.common.map.entity.Group" >
        <parameter property="objectId" javaType="java.lang.String" jdbcType="DOUBLE" />
        <parameter property="id" javaType="java.lang.String" jdbcType="VARCHAR" />
        <parameter property="label" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="pid" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="type" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="show" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="bm" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="function" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="url" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="iconSize" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="icon" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="table" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="query" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="filter" javaType="java.lang.String" jdbcType="VARCHAR"  />
        <parameter property="parentId" javaType="java.lang.String" jdbcType="DOUBLE"  />
        <parameter property="description" javaType="java.lang.String" jdbcType="VARCHAR"  />
    </parameterMap>

    <select id="getId" resultType="java.lang.String">
        SELECT SEQ_MAPS.nextval FROM DUAL
    </select>

    <select id="queryAll" resultMap="map_r">
        SELECT * FROM MAPS
    </select>

    <insert id="save" parameterMap="groupParameter">
        INSERT INTO
        MAPS(OBJECT_ID, ID, LABEL, PID, TYPE_, SHOW, BM, FUNCTION, URL, ICON_SIZE,
        ICON, TABLE_, QUERY, FILTER, PARENT_ID, DESCRIPTION)
        VALUES(<if test="group.objectId != null">#{group.objectId,jdbcType=DOUBLE}</if><if test="group.objectId == null">SEQ_MAPS.nextval</if>,
        #{group.id,jdbcType=VARCHAR}, #{group.label,jdbcType=VARCHAR}, #{group.pid,jdbcType=VARCHAR},
        #{group.type,jdbcType=VARCHAR}, #{group.show,jdbcType=VARCHAR}, #{group.bm,jdbcType=VARCHAR},
        #{group.function,jdbcType=VARCHAR},#{group.url,jdbcType=VARCHAR},#{group.iconSize,jdbcType=VARCHAR},
        #{group.icon,jdbcType=VARCHAR}, #{group.table,jdbcType=VARCHAR}, #{group.query,jdbcType=VARCHAR},
        #{group.filter,jdbcType=VARCHAR}, #{group.parentId,jdbcType=DOUBLE}, #{group.description,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterMap="groupParameter">
        UPDATE
            MAPS
        SET
            <if test="group.id != null">
                ID=#{group.id},
            </if>
            <if test="group.label !=null">
                LABEL=#{group.label},
            </if>
            <if test="group.pid !=null">
                PID=#{group.pid},
            </if>
            <if test="group.type !=null">
                TYPE_=#{group.type},
            </if>
            <if test="group.show !=null">
                SHOW=#{group.show},
            </if>
            <if test="group.bm !=null">
                BM=#{group.bm},
            </if>
            <if test="group.function !=null">
                FUNCTION=#{group.function},
            </if>
            <if test="group.url !=null">
                URL=#{group.url},
            </if>
            <if test="group.iconSize !=null">
                ICON_SIZE=#{group.iconSize},
            </if>
            <if test="group.icon !=null">
                ICON=#{group.icon},
            </if>
            <if test="group.table !=null">
                TABLE_=#{group.table},
            </if>
            <if test="group.query !=null">
                QUERY=#{group.query},
            </if>
            <if test="group.filter !=null">
                FILTER=#{group.filter},
            </if>
            <if test="group.parentId !=null">
                PARENT_ID=#{group.parentId},
            </if>
            <if test="group.description !=null">
                DESCRIPTION=#{group.description}
            </if>
        WHERE
            OBJECT_ID = #{group.objectId}
    </update>

    <delete id="deleteAll">
        DELETE FROM MAPS
    </delete>

    <delete id="deleteByPri" parameterType="java.lang.String">
        DELETE FROM MAPS WHERE object_id = #{object_id}
    </delete>

    <select id="countByPri" parameterType="java.lang.String">
        SELECT COUNT(*) FROM MAPS  WHERE OBJECT_ID = #{object_id}
    </select>

</mapper>