<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.rundisplay.dao.P2P_PRIVATE_AGENCIESMapper">

    <select id="getPrivateDetail" parameterType="com.cetccity.operationcenter.webframework.rundisplay.dao.entity.P2P_PRIVATE_AGENCIES" resultType="com.cetccity.operationcenter.webframework.rundisplay.dao.entity.P2P_PRIVATE_AGENCIES">
        select  NUM,DEPT_NAME,ORG_P_CODE,REGI_CAPITAL,REAL_CAPITAL,FOUND_DATE,PASS_DATE,
        REGISTER_DATE,REG_PLACE,REG_ADDRESS,PROVINCE,CITY,REGION,DETAIL_ADDRESS,MNG_FOUND_NUM,MNG_FOUND_SCALE_TOTAL,
        MNG_FOUND_SCALE_PURE,INVESTOR_NUM,MNG_CURRENCY,ORG_TYPE,BUSINESS_TYPE,ORG_FORM,ENTP_NATURE,HOLD_TYPE,
        QUALIFIED_EMPLOYEES,STAFF,MAIN_CONTACTOR_NAME,CONTACTOR_PHONE,CONTACTOR_EMAIL,OBJECT_ID,YJJC_CREATE_NAME,
        YJJC_UPDATE_TIME,REGION_CODE,ADDRESS,COMMUNITY_CODE,STREET_CODE,JD84,WD84,STREET_NAME,COMMUNITY_NAME
        from P2P_PRIVATE_AGENCIES
        <where>
            <if test="id != null">
                and ROWID = #{id}
            </if>
        </where>
    </select>

</mapper>