<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.rundisplay.dao.QHSJ_ENTERPRISE_BASICINFOMapper">
    <!--空气质量时间数据-->
    <select id="getWaterBASICINFO" parameterType="java.util.Map" resultType="com.cetccity.operationcenter.webframework.rundisplay.dao.entity.QHSJ_ENTERPRISE_BASICINFO">
        select  ID,PSADDRESS,PSCODE,PSNAME
        from QHSJ_ENTERPRISE_BASICINFO
        where 1=1
        <if test="id != null">
            and PSCODE = #{id}
        </if>
    </select>

</mapper>