<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.rundisplay.dao.QHSJ_ENTERPRISE_FACTOR_CODEMapper">
    <!--空气质量时间数据-->
    <select id="getWaterFactorCode" parameterType="java.util.Map" resultType="com.cetccity.operationcenter.webframework.rundisplay.dao.entity.QHSJ_ENTERPRISE_FACTOR_CODE">
        select  FACTOR_NAME, FACTOR_CODE, FACTOR_UNIT
        from QHSJ_ENTERPRISE_FACTOR_CODE
    </select>

    <select id="getWaterFactorCodeToName" parameterType="java.lang.String" resultType="com.cetccity.operationcenter.webframework.rundisplay.dao.entity.QHSJ_ENTERPRISE_FACTOR_CODE">
        select  FACTOR_NAME,FACTOR_UNIT
        from QHSJ_ENTERPRISE_FACTOR_CODE
        <where>
            <if test="FACTOR_CODE != null">
                and FACTOR_CODE = #{FACTOR_CODE}
            </if>
        </where>
    </select>

</mapper>