<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.rundisplay.dao.VIDEO_TAGMapper">

    <select id="getVIDEO_TAG" parameterType="com.cetccity.operationcenter.webframework.rundisplay.dao.entity.VIDEO_TAG" resultType="com.cetccity.operationcenter.webframework.rundisplay.dao.entity.VIDEO_TAG">
      select s.CAMERAID,t.GB_CODE,t.TAG,s.JD84,s.WD84,s.STREET_CODE
      from VIDEO_TAG t
      left join VIDEO_POLICE s on s.GB_CODE= t.GB_CODE where 1=1
      <if test="CAMERAID != null">
          and t.s.CAMERAID = #{CAMERAID}
      </if>
      <if test="TAG != null">
          and t.TAG = #{TAG}
      </if>
      <if test="STREET_CODE != null">
          and s.STREET_CODE = #{STREET_CODE}
      </if>
    </select>

</mapper>