<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.web.dao.DisposalProcessMapper">
  <resultMap id="BaseResultMap" type="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emergency_id" jdbcType="VARCHAR" property="emergencyId" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="disposal_record" jdbcType="VARCHAR" property="disposalRecord" />
    <result column="disposal_time" jdbcType="VARCHAR" property="disposalTime" />
    <result column="disposal_status" jdbcType="VARCHAR" property="disposalStatus" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
    <result column="reserved4" jdbcType="VARCHAR" property="reserved4" />
    <result column="reserved5" jdbcType="VARCHAR" property="reserved5" />
    <result column="update_status" jdbcType="VARCHAR" property="updateStatus" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, emergency_id, uuid, disposal_record, disposal_time, disposal_status, reserved1, 
    reserved2, reserved3, reserved4, reserved5, update_status, update_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_fire_emgc_disposal_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_fire_emgc_disposal_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_fire_emgc_disposal_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcessExample">
    delete from tb_fire_emgc_disposal_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcess" useGeneratedKeys="true" keyProperty="id">
    insert into tb_fire_emgc_disposal_process (id, emergency_id, uuid, 
      disposal_record, disposal_time, disposal_status, 
      reserved1, reserved2, reserved3, 
      reserved4, reserved5, update_status, 
      update_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{emergencyId,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, 
      #{disposalRecord,jdbcType=VARCHAR}, #{disposalTime,jdbcType=VARCHAR}, #{disposalStatus,jdbcType=VARCHAR}, 
      #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}, 
      #{reserved4,jdbcType=VARCHAR}, #{reserved5,jdbcType=VARCHAR}, #{updateStatus,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcess">
    insert into tb_fire_emgc_disposal_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="emergencyId != null">
        emergency_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="disposalRecord != null">
        disposal_record,
      </if>
      <if test="disposalTime != null">
        disposal_time,
      </if>
      <if test="disposalStatus != null">
        disposal_status,
      </if>
      <if test="reserved1 != null">
        reserved1,
      </if>
      <if test="reserved2 != null">
        reserved2,
      </if>
      <if test="reserved3 != null">
        reserved3,
      </if>
      <if test="reserved4 != null">
        reserved4,
      </if>
      <if test="reserved5 != null">
        reserved5,
      </if>
      <if test="updateStatus != null">
        update_status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="emergencyId != null">
        #{emergencyId,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="disposalRecord != null">
        #{disposalRecord,jdbcType=VARCHAR},
      </if>
      <if test="disposalTime != null">
        #{disposalTime,jdbcType=VARCHAR},
      </if>
      <if test="disposalStatus != null">
        #{disposalStatus,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null">
        #{reserved5,jdbcType=VARCHAR},
      </if>
      <if test="updateStatus != null">
        #{updateStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcessExample" resultType="java.lang.Long">
    select count(*) from tb_fire_emgc_disposal_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_fire_emgc_disposal_process
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.emergencyId != null">
        emergency_id = #{record.emergencyId,jdbcType=VARCHAR},
      </if>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.disposalRecord != null">
        disposal_record = #{record.disposalRecord,jdbcType=VARCHAR},
      </if>
      <if test="record.disposalTime != null">
        disposal_time = #{record.disposalTime,jdbcType=VARCHAR},
      </if>
      <if test="record.disposalStatus != null">
        disposal_status = #{record.disposalStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved1 != null">
        reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved2 != null">
        reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved3 != null">
        reserved3 = #{record.reserved3,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved4 != null">
        reserved4 = #{record.reserved4,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved5 != null">
        reserved5 = #{record.reserved5,jdbcType=VARCHAR},
      </if>
      <if test="record.updateStatus != null">
        update_status = #{record.updateStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_fire_emgc_disposal_process
    set id = #{record.id,jdbcType=INTEGER},
      emergency_id = #{record.emergencyId,jdbcType=VARCHAR},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      disposal_record = #{record.disposalRecord,jdbcType=VARCHAR},
      disposal_time = #{record.disposalTime,jdbcType=VARCHAR},
      disposal_status = #{record.disposalStatus,jdbcType=VARCHAR},
      reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      reserved3 = #{record.reserved3,jdbcType=VARCHAR},
      reserved4 = #{record.reserved4,jdbcType=VARCHAR},
      reserved5 = #{record.reserved5,jdbcType=VARCHAR},
      update_status = #{record.updateStatus,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcess">
    update tb_fire_emgc_disposal_process
    <set>
      <if test="emergencyId != null">
        emergency_id = #{emergencyId,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="disposalRecord != null">
        disposal_record = #{disposalRecord,jdbcType=VARCHAR},
      </if>
      <if test="disposalTime != null">
        disposal_time = #{disposalTime,jdbcType=VARCHAR},
      </if>
      <if test="disposalStatus != null">
        disposal_status = #{disposalStatus,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
      <if test="reserved4 != null">
        reserved4 = #{reserved4,jdbcType=VARCHAR},
      </if>
      <if test="reserved5 != null">
        reserved5 = #{reserved5,jdbcType=VARCHAR},
      </if>
      <if test="updateStatus != null">
        update_status = #{updateStatus,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.DisposalProcess">
    update tb_fire_emgc_disposal_process
    set emergency_id = #{emergencyId,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      disposal_record = #{disposalRecord,jdbcType=VARCHAR},
      disposal_time = #{disposalTime,jdbcType=VARCHAR},
      disposal_status = #{disposalStatus,jdbcType=VARCHAR},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR},
      reserved3 = #{reserved3,jdbcType=VARCHAR},
      reserved4 = #{reserved4,jdbcType=VARCHAR},
      reserved5 = #{reserved5,jdbcType=VARCHAR},
      update_status = #{updateStatus,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>