<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.web.dao.MACRO_ECONOMYMapper">
    <!--今日重大安全事故-->
    <select id="selectObjByTime" parameterType="com.cetccity.operationcenter.webframework.web.model.citySign.MACRO_ECONOMY" resultType="com.cetccity.operationcenter.webframework.web.model.citySign.MACRO_ECONOMY">
        select INDEX_NAME as indexName,CREATE_YEAR as createYear,CREATE_MONTH as createMonth,VALUE as value,CALCULATION_TYPE as calculationType
        from MACRO_ECONOMY
        where 1=1
        <if test="createYear != null">
            and CREATE_YEAR = #{createYear,jdbcType=VARCHAR}
        </if>
        <if test="createMonth != null">
            and CREATE_MONTH = #{createMonth,jdbcType=VARCHAR}
        </if>
        <if test="indexType != null">
            and INDEX_TYPE = #{indexType,jdbcType=VARCHAR}
        </if>
        <if test="calculationType != null">
            and CALCULATION_TYPE = #{calculationType,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>