<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.web.dao.QXFJ_BUILD_ZTZR_VMapper">
    
    <select id="getQXFJ_BUILD_ZTZR_V" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.loadmap.QXFJ_BUILD_ZTZR_V" resultType="com.cetccity.operationcenter.webframework.web.model.incident.loadmap.QXFJ_BUILD_ZTZR_V">
        select  BUILD_ID,CREATE_TIME,ID,LC,TYPE,UNIT_ID,UNIT_NAME,
        USER_ID,YXY_UPDATEDTIME,ZTZR_CARD_ID,ZTZR_NAME,ZTZR_TEL,ZTZR_ZW,ADQ_UPDATE_TIME
        from QXFJ_BUILD_ZTZR_V where 1=1
        <if test="BUILD_ID != null">
            and BUILD_ID = #{BUILD_ID}
        </if>

    </select>

</mapper>