<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.publichealth.dao.YJJC_QWJJ_OUT_INFO_VMapper">

    <select id="getYJJC_QWJJ_OUT_INFO_V" parameterType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_OUT_INFO_V" resultType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_OUT_INFO_V">
        select  DEPT_CODE,DEPT_NAME,ID,ORG_CODE,ORG_NAME,REC_CREATE_TIME,REC_MODIFY_TIME,REGISTER_NO,VISIT_NO,
        WAITING_NO,YXY_UPDATEDTIME,ADQ_UPDATE_TIME,REGION_CODE,STREET_CODE,COMMUNITY_CODE,JD84,WD84,ADDRESS,OBJECT_ID,
        STREET_NAME,COMMUNITY_NAME,YJJC_CREATE_TIME,YJJC_UPDATE_TIME
        from YJJC_QWJJ_OUT_INFO_V where 1=1
        <if test="ORG_CODE != null">
            and ORG_CODE = #{ORG_CODE}
        </if>
        order by REC_CREATE_TIME desc
    </select>

</mapper>