<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.publichealth.dao.YJJC_QWJJ_ORG_VMapper">

    <select id="getYJJC_QWJJ_ORG_V" parameterType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_ORG_V" resultType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_ORG_V">
        select BED,DEPT_CODE,DEPT_NAME,FREE_BED,HOST_NAME,ID,ORG_BED_NUM,ORG_CODE,ORG_LEVEL,ORG_NAME,ORG_TYPE,
        ORG_TYPE_N,REC_CREATE_TIME,REC_MODIFY_TIME,YXY_UPDATEDTIME,ADQ_UPDATE_TIME,JD84,WD84,STREET,REGION_CODE,
        STREET_CODE,COMMUNITY_CODE,ADDRESS,OBJECT_ID,STREET_NAME,COMMUNITY_NAME
        from YJJC_QWJJ_ORG_V where 1=1
        <if test="ORG_CODE != null">
            and ORG_CODE = #{ORG_CODE}
        </if>
        order by REC_CREATE_TIME desc
    </select>

    <select id="getYJJC_QWJJ_ORG_VRemoval" resultType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_ORG_V">
        select distinct ORG_CODE,ORG_NAME,JD84,WD84
        from YJJC_QWJJ_ORG_V
        where 1=1
        and REGION_CODE = '440304'
    </select>

    <select id="getYJJC_QWJJ_ORG_VDepartmentRemoval" parameterType="java.lang.String" resultType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_ORG_V">
        select distinct DEPT_CODE,DEPT_NAME
        from YJJC_QWJJ_ORG_V
        where 1=1
        <if test="ORG_CODE != null">
            and ORG_CODE = #{ORG_CODE}
        </if>
    </select>

    <select id="summaryInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT * FROM(
          select ORG_NAME,ORG_LEVEL,ORG_CODE,SUM(ORG_BED_NUM) ORG_BED_NUM,REC_CREATE_TIME FROM YJJC_QWJJ_ORG_V
            <where>
                <if test="ORG_CODE != null">
                    and ORG_CODE = #{ORG_CODE}
                </if>
            </where>
            GROUP BY ORG_NAME,ORG_LEVEL,ORG_CODE,REC_CREATE_TIME
            ORDER BY REC_CREATE_TIME DESC
        )WHERE ROWNUM = 1
    </select>

</mapper>