<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.publichealth.dao.YJJC_QWJJ_EMPLOYEE_VMapper">

    <select id="getYJJC_QWJJ_EMPLOYEE_V" parameterType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_EMPLOYEE_V" resultType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_EMPLOYEE_V">
        select 	AGE,
        (select CODE_IN_CHINESE FROM DS_VALUE_DICT WHERE TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'AUTHORIZED_SIZE' AND CODE = AUTHORIZED_SIZE) AS AUTHORIZED_SIZE,
        (select CODE_IN_CHINESE FROM DS_VALUE_DICT WHERE TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'CSZYLBDM' AND CODE = CSZYLBDM) AS CSZYLBDM,
        (select CODE_IN_CHINESE FROM DS_VALUE_DICT WHERE TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'DEGREE_CODE' AND CODE = DEGREE_CODE) AS DEGREE_CODE,
        DEPT_CODE,DEPT_NAME,DOCTOR_TYPE,EMP_CODE,
        (select CODE_IN_CHINESE FROM DS_VALUE_DICT WHERE TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'GP_CERTIFICATE_CODE' AND CODE = GP_CERTIFICATE_CODE) AS GP_CERTIFICATE_CODE,
        ID,
        (select CODE_IN_CHINESE FROM DS_VALUE_DICT WHERE TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'JOB_LEVEL_CODE' AND CODE = JOB_LEVEL_CODE) AS JOB_LEVEL_CODE,
        ORG_CODE,ORG_NAME,REC_CREATE_TIME,REC_MODIFY_TIME,
        (select CODE_IN_CHINESE FROM DS_VALUE_DICT WHERE TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'SEX' AND CODE = SEX) AS SEX,
        YXY_UPDATEDTIME,ADQ_UPDATE_TIME,
        REGION_CODE,STREET_CODE,COMMUNITY_CODE,JD84,WD84,ADDRESS,OBJECT_ID,STREET_NAME,COMMUNITY_NAME
        from YJJC_QWJJ_EMPLOYEE_V
        <where>
        <if test="ORG_CODE != null">
            and ORG_CODE = #{ORG_CODE}
        </if>
        </where>
        order by REC_CREATE_TIME desc
    </select>

    <select id="getCount" parameterType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_EMPLOYEE_V" resultType="java.lang.Integer">
        select count(*) from YJJC_QWJJ_EMPLOYEE_V
        <where>
            <if test="ORG_CODE != null">
                and ORG_CODE = #{ORG_CODE}
            </if>
        </where>
    </select>

    <select id="getAUTHORIZED_NUM" resultType="com.cetccity.operationcenter.webframework.publichealth.api.model.EMPLOYEE_NUM">
        select a.code_num as NUM, b.CODE_IN_CHINESE as chinese,a.CODE  from
          (select count(AUTHORIZED_SIZE) code_num, AUTHORIZED_SIZE code
          from YJJC_QWJJ_EMPLOYEE_V
          group by AUTHORIZED_SIZE) a,
        (select CODE_IN_CHINESE, code from DS_VALUE_DICT where TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'AUTHORIZED_SIZE') b
        where a.code = b.code
    </select>

    <select id="getDOCTOR_TYPE_NUM" resultType="com.cetccity.operationcenter.webframework.publichealth.api.model.EMPLOYEE_NUM">
        select a.code_num as NUM, b.CODE_IN_CHINESE as chinese,a.CODE  from
        (select count(DOCTOR_TYPE) code_num, DOCTOR_TYPE code
        from YJJC_QWJJ_EMPLOYEE_V
        group by DOCTOR_TYPE) a,
        (select CODE_IN_CHINESE, code from DS_VALUE_DICT where TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'DOCTOR_TYPE') b
        where a.code = b.code
    </select>

    <select id="getJOB_LEVEL_CODE_NUM" resultType="com.cetccity.operationcenter.webframework.publichealth.api.model.EMPLOYEE_NUM">
        select a.code_num as NUM, b.CODE_IN_CHINESE as chinese,a.CODE  from
        (select count(JOB_LEVEL_CODE) code_num, JOB_LEVEL_CODE code
        from YJJC_QWJJ_EMPLOYEE_V
        group by JOB_LEVEL_CODE) a,
        (select CODE_IN_CHINESE, code from DS_VALUE_DICT where TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'JOB_LEVEL_CODE') b
        where a.code = b.code
    </select>

    <select id="getCSZYLBDMNum" resultType="com.cetccity.operationcenter.webframework.publichealth.api.model.EMPLOYEE_NUM">
        select a.code_num as NUM, b.CODE_IN_CHINESE as chinese,a.CODE  from
        (select count(CSZYLBDM) code_num, CSZYLBDM code
        from YJJC_QWJJ_EMPLOYEE_V
        group by CSZYLBDM) a,
        (select CODE_IN_CHINESE, code from DS_VALUE_DICT where TABLE_NAME = 'YJJC_QWJJ_EMPLOYEE_V' AND COLUMN_NAME = 'CSZYLBDM') b
        where a.code = b.code
    </select>

</mapper>