<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.publichealth.dao.YJJC_QWJJ_OUT_VISITS_DAY_VMapper">


    <select id="getLearlyMonthRowNum" resultType="java.lang.String">
        select BUSI_DATE from (select BUSI_DATE from YJJC_QWJJ_OUT_VISITS_DAY_V order by BUSI_DATE desc) where rownum=1
    </select>

    <select id="getYJJC_QWJJ_OUT_VISITS_DAY_V" parameterType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_OUT_VISITS_DAY_V" resultType="com.cetccity.operationcenter.webframework.publichealth.dao.entity.YJJC_QWJJ_OUT_VISITS_DAY_V">
        select  APP_NO,BUSI_DATE,DEPT_CODE,DEPT_NAME,EMERGENCY_EMERGENCY_NO,EMERGENCY_NO,ID,ORG_CODE,ORG_NAME,
        OUTPATIENT_NO,REC_CREATE_TIME,REC_MODIFY_TIME,YXY_UPDATEDTIME,ADQ_UPDATE_TIME,REGION_CODE,STREET_CODE,
        COMMUNITY_CODE,JD84,WD84,ADDRESS,OBJECT_ID,STREET_NAME,COMMUNITY_NAME,YJJC_CREATE_TIME,YJJC_UPDATE_TIME
        from YJJC_QWJJ_OUT_VISITS_DAY_V
        <where>
          <if test="ORG_CODE != null">
            and ORG_CODE = #{ORG_CODE}
          </if>
        </where>
        order by BUSI_DATE desc
    </select>

    <select id="getSumOfOutpatient" parameterType="java.util.Map" resultType="java.lang.String">
        select sum(OUTPATIENT_NO) from YJJC_QWJJ_OUT_VISITS_DAY_V
        where 1=1
        <if test="ORG_CODE != null">
            and ORG_CODE = #{ORG_CODE}
        </if>
        <if test="time != null">
            and to_char(BUSI_DATE,'yyyy-MM-dd HH24:mi:ss') like CONCAT(#{time},'%')
        </if>
        <if test="startTime != null">
            and BUSI_DATE &gt;= to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="endTime != null">
            and BUSI_DATE &lt;= to_date(#{startTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
    </select>

    <select id="outpatientHospitalDepartment" parameterType="java.util.Map" resultType="java.util.HashMap">
        select DEPT_NAME "name",sum(OUTPATIENT_NO) "value" from YJJC_QWJJ_OUT_VISITS_DAY_V
        <where>
            <if test="lastTime != null and currentTime != null">
                and BUSI_DATE BETWEEN to_date(#{lastTime},'yyyy-MM-dd HH24:mi:ss') AND to_date(#{currentTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="ORG_CODE != null">
                and ORG_CODE = #{ORG_CODE}
            </if>
        </where>
        GROUP BY DEPT_NAME
    </select>

</mapper>