<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.backstage.video.dao.DistrictVideoClassMapper">

    <select id="findVideoRelationTagList" parameterType="com.cetccity.operationcenter.webframework.backstage.video.dao.entity.DistrictVideoClassNode" resultType="com.cetccity.operationcenter.webframework.backstage.video.dao.entity.DistrictVideoClassNode">
        SELECT a.OBJECT_ID,a.CAMERAID,c.GB_CODE,a.USER_NAME,a.CLASS_ID,a.YJJC_CREATE_TIME,a. YJJC_UPDATE_TIME,b.name tagname,c.name address,c.jd84,c.wd84,c.STREET_CODE FROM
          (SELECT OBJECT_ID,CAMERAID,CLASS_ID,USER_NAME,YJJC_CREATE_TIME,YJJC_UPDATE_TIME FROM DISTRICT_VIDEO_CLASS) a,
          (SELECT OBJECT_ID,NAME FROM DISTRICT_CLASS)b,
          (SELECT CAMERAID,GB_CODE,NAME,JD84,WD84,STREET_CODE FROM VIDEO_POLICE)c
        <where>
            a.CLASS_ID = b.OBJECT_ID AND a.CAMERAID = c.CAMERAID
            <if test="OBJECT_ID != null">
                and OBJECT_ID = #{OBJECT_ID}
            </if>
            <if test="CAMERAID != null and CAMERAID != ''">
                and a.CAMERAID = #{CAMERAID}
            </if>
            <if test="TAGNAME != null and TAGNAME != ''">
                and b.NAME like concat('%',concat(#{TAGNAME},'%'))
            </if>
            <if test="USER_NAME != null and USER_NAME != ''">
                and a.USER_NAME like concat('%',concat(#{USER_NAME},'%'))
            </if>
            <if test="STREET_CODE != null and STREET_CODE != ''">
                and c.STREET_CODE = #{STREET_CODE}
            </if>
        </where>
    </select>

    <delete id="videoRemoveTag" parameterType="com.cetccity.operationcenter.webframework.backstage.video.dao.entity.DistrictVideoClass">
        delete
        from DISTRICT_VIDEO_CLASS
        <where>
            <if test="OBJECT_ID != null">
                and OBJECT_ID = #{OBJECT_ID}
            </if>
            <if test="CAMERAID != null">
                and CAMERAID = #{CAMERAID}
            </if>
            <if test="CLASS_ID != null">
                and CLASS_ID = #{CLASS_ID}
            </if>
        </where>
    </delete>

    <insert id="videoAddTag" parameterType="com.cetccity.operationcenter.webframework.backstage.video.dao.entity.DistrictVideoClass">
        INSERT INTO DISTRICT_VIDEO_CLASS(OBJECT_ID, CAMERAID, CLASS_ID,USER_NAME,YJJC_CREATE_TIME,YJJC_UPDATE_TIME)
        VALUES (#{OBJECT_ID}, #{CAMERAID}, #{CLASS_ID},#{USER_NAME},sysdate,sysdate)
    </insert>

    <select id="findVideoTagList" parameterType="com.cetccity.operationcenter.webframework.backstage.video.dao.entity.DistrictVideoClass" resultType="com.cetccity.operationcenter.webframework.backstage.video.dao.entity.DistrictVideoClass">
        SELECT OBJECT_ID,CAMERAID,CLASS_ID,USER_NAME,YJJC_CREATE_TIME,YJJC_UPDATE_TIME FROM DISTRICT_VIDEO_CLASS
        <where>
            <if test="CAMERAID != null">
                and CAMERAID = #{CAMERAID}
            </if>
            <if test="CLASS_ID != null">
                and CLASS_ID = #{CLASS_ID}
            </if>
            <if test="USER_NAME != null">
                and a.USER_NAME like concat('%',concat(#{USER_NAME},'%'))
            </if>
        </where>
    </select>

    <select id="loadMapVideoRelationByClassId" parameterType="java.util.Map" resultType="com.cetccity.operationcenter.webframework.backstage.video.dao.entity.DistrictVideoClass">
        SELECT OBJECT_ID,CAMERAID,CLASS_ID,USER_NAME,YJJC_CREATE_TIME,YJJC_UPDATE_TIME FROM DISTRICT_VIDEO_CLASS
        <where>
            <if test="CAMERAID != null">
                and CAMERAID = #{CAMERAID}
            </if>
            <if test="CLASS_ID != null">
                and CLASS_ID = #{CLASS_ID}
            </if>
            <if test="USER_NAME != null">
                and a.USER_NAME like concat('%',concat(#{USER_NAME},'%'))
            </if>
        </where>
    </select>
</mapper>