<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.environment.dao.QJHH_PATROLMapper">

    <select id="getList" parameterType="com.cetccity.operationcenter.webframework.environment.dao.entity.QJHH_PATROL" resultType="com.cetccity.operationcenter.webframework.environment.dao.entity.QJHH_PATROL">
        select UID,SEWERAGE_ID,FACILITY_ID,STATUS,CHECK_TIME,PHOTO,OBJECT_ID,
          YJJC_CREATE_TIME,YJJC_UPDATE_TIME
        from QJHH_PATROL_INFO
        <where>
            <if test="FACILITY_ID != null">
                and FACILITY_ID = #{FACILITY_ID}
            </if>
        </where>
    </select>

    <select id="rightOne" parameterType="java.util.Map" resultType="com.cetccity.operationcenter.webframework.core.frame.basicmodel.NameValueModel">
        SELECT STATUS "name",count(STATUS) "value" from QJHH_PATROL_INFO
        <where>
            <if test="SEWERAGE_ID != null">
                and SEWERAGE_ID = #{SEWERAGE_ID}
            </if>
            <if test="currentMonth != null">
                and to_char(CHECK_TIME,'yyyy-MM') like concat(#{currentMonth},'%')
            </if>
        </where>
        group by STATUS
    </select>

    <select id="rightTwo" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT * FROM(
            select to_char(CHECK_TIME,'yyyy-MM-dd') X_TIME,NVL(count(CHECK_TIME),0) 数量 from QJHH_PATROL_INFO
            <where>
              <if test="SEWERATE_ID != null">
                and SEWERATE_ID = #{SEWERATE_ID}
              </if>
            </where>
            GROUP BY to_char(CHECK_TIME,'yyyy-MM-dd') ORDER BY X_TIME DESC
        )WHERE ROWNUM &lt;= 12 ORDER BY X_TIME
    </select>

    <select id="rightThreeNoStreet" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT B.STREET_NAME X_NAME,NVL(COUNT(B.STREET_NAME),0) 巡查隐患次数 FROM QJHH_PATROL_INFO A,QJHH_FACILITY_INFO B
          <where>
              <if test="STATUS != null">
                  and A.STATUS = #{STATUS}
              </if>
              <if test="currentMonth != null">
                  and to_char(A.CHECK_TIME,'yyyy-MM') like concat(#{currentMonth},'%')
              </if>
              <if test="SEWERATE_ID != null">
                  and A.SEWERATE_ID = #{SEWERATE_ID}
              </if>
          </where>
        AND A.FACILITY_ID = B."UID" GROUP BY B.STREET_NAME
    </select>

    <select id="rightThreeHasStreet" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT B.COMMUNITY_NAME X_NAME,NVL(COUNT(B.COMMUNITY_NAME),0) 巡查隐患次数 FROM QJHH_PATROL_INFO A,QJHH_FACILITY_INFO B
          <where>
              <if test="STATUS != null">
                  and A.STATUS = #{STATUS}
              </if>
              <if test="currentMonth != null">
                  and to_char(A.CHECK_TIME,'yyyy-MM') like concat(#{currentMonth},'%')
              </if>
              <if test="SEWERATE_ID != null">
                  and A.SEWERATE_ID = #{SEWERATE_ID}
              </if>
              <if test="streetCode != null">
                  and B.STREET_CODE = #{streetCode}
              </if>
          </where>
        AND A.FACILITY_ID = B."UID" GROUP BY B.COMMUNITY_NAME
    </select>

    <select id="rightFour" parameterType="java.util.Map" resultType="com.cetccity.operationcenter.webframework.environment.api.model.PatrolRecordRightFour">
        SELECT * FROM (SELECT rowres.*, ROWNUM RN FROM (
          SELECT A.CHECK_TIME CHECK_TIME,D."NAME" SEWERATE_NAME, D."ADDRESS" SEWERATE_ADDRESS, A."STATUS" "ContentDescription",A."TYPE" FACILITY_NAME,C.ADDRESS FACILITY_ADDRESS
            from QJHH_PATROL_INFO A,QJHH_FACILITY_INFO C,QJHH_SEWERAGE_INFO D
            <where>
                <if test="streetCode != null">
                    and A.STREET_CODE = #{streetCode}
                </if>
                <if test="lastDay != null">
                    and to_char(A.CHECK_TIME,'yyyy-MM-dd') &gt; #{lastDay}
                </if>
                <if test="currentMonth != null">
                    and to_char(A.CHECK_TIME,'yyyy-MM-dd') &lt;= #{currentMonth}
                </if>
                <if test="SEWERAGE_ID != null">
                    and A.SEWERAGE_ID = #{SEWERAGE_ID}
                </if>
                AND A.STATUS = '不正常'
                AND A.FACILITY_ID = C."UID"
                AND A.SEWERAGE_ID = D."UID"
            </where>
          order by A.CHECK_TIME desc
        ) rowres  WHERE ROWNUM &lt;=#{end}) WHERE RN &gt;#{start}
    </select>

    <select id="rightFourCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*)
        from QJHH_PATROL_INFO A,QJHH_FACILITY_INFO C,QJHH_SEWERAGE_INFO D
        <where>
            <if test="streetCode != null">
                and A.STREET_CODE = #{streetCode}
            </if>
            <if test="lastDay != null">
                and to_char(A.CHECK_TIME,'yyyy-MM-dd') &gt; #{lastDay}
            </if>
            <if test="currentMonth != null">
                and to_char(A.CHECK_TIME,'yyyy-MM-dd') &lt;= #{currentMonth}
            </if>
            <if test="SEWERAGE_ID != null">
                and A.SEWERAGE_ID = #{SEWERAGE_ID}
            </if>
            AND A.STATUS = '不正常'
            AND A.FACILITY_ID = C."UID"
            AND A.SEWERAGE_ID = D."UID"
        </where>
    </select>
    <!--<select id="rightFour" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT D."NAME" 排水户名称, D."ADDRESS" 排水户地址, B."NAME" 隐患内容描述,E."NAME" 排水设施名称,C.ADDRESS 排水设施地址
        from QJHH_PATROL A,QJHH_DICTIONARY B,QJHH_FACILITY_INFO C,QJHH_SEWERAGE_INFO D,QJHH_DICTIONARY E
        <where>
            <if test="streetCode != null">
                and B.STREET_CODE = #{streetCode}
            </if>
            <if test="currentMonth != null">
                and to_char(A.CHECK_TIME,'yyyy-MM') like concat(#{currentMonth},'%')
            </if>
            <if test="SEWERATE_ID != null">
                and A.SEWERATE_ID = #{SEWERATE_ID}
            </if>
            AND A.STATUS = '4028801e6a4a0d5b016a4a0edc9f0002'
            AND A.WARN_TYPE = B."UID"
            AND A.FACILITY_ID = C."UID"
            AND A.SEWERATE_ID = D."UID"
            AND C."TYPE" = E."UID"
        </where>
    </select>-->

</mapper>