<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.hiddendanger.dao.BlkSanxiaoPlaceMapper">

    <select id="getBLK_SANXIAO_PLACECount" parameterType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.BLK_SANXIAO_PLACE" resultType="java.lang.Long">
        select  count(*)
        from BLK_SANXIAO_PLACE where 1=1
        <if test="PLACE_TYPE != null">
            and PLACE_TYPE = #{PLACE_TYPE}
        </if>
        <if test="STREET != null">
            and STREET = #{STREET}
        </if>
        <if test="CREATETIME != null">
            and to_char(CREATETIME,'yyyy-MM-dd HH24:mi:ss') like concat(#{CREATETIME},'%')
        </if>

    </select>
    
    <select id="getBLK_SANXIAO_PLACE" parameterType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.BLK_SANXIAO_PLACE" resultType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.BLK_SANXIAO_PLACE">
        select  ADDRESS,CREATETIME,QUCODE,JDCODE,SQCODE,
        STREET,STATUS,UUID,SQDM,UPDATE_TIME,NAME,AREA,OPERATOR_NAME,OPERATOR_TEL,OWNER_NAME,OWNER_TEL,BUSINESS_AREA,
        BUSINESS_TYPE,PLACE_TYPE,IS_BUSINESS_CARD,BUSINESS_CARD_NO,APPROVED_TYPE,GRID,GRID_NAME,LAST_CHECK_TIME,
        TIMES,ISADD,PHOTO,ISCHECK,ISDELETE,ISTROUBLE,CREATOR,CREATORID,LOGOUTER,LOGOUTTIME,STREETID,AUDIT_TIME,
        AUDIT_USER,ZX_AUDIT_TIME,ZX_AUDIT_USER,LOGOUTERID,REMARK,SQ,SQID,OWNER_CARD_ID,OPERATOR_CARD_ID,SHENG,SHENGDM,
        SHI,SHIDM,QU,QUDM,DL,DLDM,XQ,XQDM,LD,LDDM,FW,FWDM,CJSJ,GXSJ,SJLYFS,SJLY,DYWGCODE,CODE,ADDRCODE,ADDRDESC,BZDZ,
        LAT,LON,UPDATE_NAME,UPDATE_ID,CHECKSTATE,ISDOUBLECHECK,DOUBLECHECK_TIME,ISCHANGE,IS_UP,YHCOUNT,INIT_TIME,
        JD84,WD84,REGION_CODE,STREET_CODE,COMMUNITY_CODE,OBJECT_ID,YJJC_CREATE_TIME,YJJC_UPDATE_TIME,ID,HAS_TROUBLE
        from BLK_SANXIAO_PLACE where 1=1
        <if test="ID != null">
            and ID = #{ID}
        </if>
        <if test="PLACE_TYPE != null">
            and PLACE_TYPE = #{PLACE_TYPE}
        </if>
        <if test="STREET_CODE != null">
            and STREET_CODE = #{STREET_CODE}
        </if>
    </select>

    <select id="urbanSignProductionSafetyBi" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT M.STREET_NAME X,A.NUM 正常,B.NUM 隐患 FROM(
          SELECT STREET_NAME from BLK_SANXIAO_PLACE WHERE STREET_NAME is not null GROUP BY STREET_NAME UNION
            SELECT STREET_NAME from BLK_SANXIAO_PLACE WHERE STREET_NAME is not null GROUP BY STREET_NAME)M
            LEFT JOIN
            (SELECT COUNT(*) NUM ,STREET_NAME FROM BLK_SANXIAO_PLACE WHERE STREET_NAME is not null GROUP BY STREET_NAME)A ON M.STREET_NAME = A.STREET_NAME
            LEFT JOIN
            (SELECT COUNT(*) NUM ,STREET_NAME FROM BLK_SANXIAO_PLACE WHERE STREET_NAME is not null and HAS_TROUBLE = '1' GROUP BY STREET_NAME)B ON M.STREET_NAME = B.STREET_NAME
    </select>

</mapper>