<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.hiddendanger.dao.BuildScoreWeightMapper">

    <select id="getBUILD_SCORE_WEIGHT" parameterType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.BUILD_SCORE_WEIGHT" resultType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.BUILD_SCORE_WEIGHT">
        select  MAIN_ID,NAME,WEIGHT,PID,SYSDATE,OBJECT_ID,CREATE_TIME,UPDATE_TIME
        from BUILD_SCORE_WEIGHT where 1=1
        <if test="MAIN_ID != null">
            and MAIN_ID = #{MAIN_ID}
        </if>
        <if test="PID != null">
            and PID = #{PID}
        </if>
        <if test="SYSDATE != null">
            and SYSDATE = #{SYSDATE}
        </if>
    </select>

    <update id="updateWeight" parameterType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.BUILD_SCORE_WEIGHT">
        update BUILD_SCORE_WEIGHT t
        <set>
          <if test="WEIGHT != null">
                t.WEIGHT = #{WEIGHT},
          </if>
        </set>
        where 1=1
        <if test="MAIN_ID != null">
            and t.MAIN_ID = #{MAIN_ID}
        </if>
        <if test="PID != null">
            and t.PID = #{PID}
        </if>
    </update>

</mapper>