<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cetccity.operationcenter.webframework.hiddendanger.dao.HiddenDangerThreeSmallChartMapper">

    <resultMap id="nameValueTypeModel" type="com.cetccity.operationcenter.webframework.core.frame.basicmodel.NameValueTypeModel" >
        <result property="name" javaType="java.lang.String" column="NAME" jdbcType="VARCHAR" />
        <result property="value" javaType="java.lang.Integer" column="VALUE"/>
    </resultMap>

    <resultMap id="barOrLineModel" type="com.cetccity.operationcenter.webframework.core.chart.engine.model.BarOrLineModel">
        <result property="name" javaType="java.lang.String" column="PLACE_TYPE" jdbcType="VARCHAR" />
        <collection property="data" ofType="com.cetccity.operationcenter.webframework.core.frame.basicmodel.NameValueTypeModel" resultMap="nameValueTypeModel">
        </collection>
    </resultMap>


    <select id="countThreeSmallType" resultMap="nameValueTypeModel">
        SELECT
            PLACE_TYPE AS NAME, COUNT(*) AS VALUE
        FROM
            BLK_SANXIAO_PLACE
        WHERE
            STATUS = 0
        <if test="street != null and street !=''">
            AND STREET = #{street}
        </if>
        GROUP BY
        PLACE_TYPE
    </select>

    <select id="countAlarmByDateAndStreet" resultMap="barOrLineModel" >
        SELECT
            t1.PLACE_TYPE AS PLACE_TYPE, TO_CHAR(t2.EVENT_TIME, 'yyyy-mm') AS NAME, COUNT(*) AS VALUE
        FROM
            (
                SELECT
                    ADDRESS, NAME, PLACE_TYPE
                FROM
                    BLK_SANXIAO_PLACE
                WHERE
                PLACE_TYPE  IS NOT NULL
                <if test="streetCode != null and streetCode != '' ">
                    AND STREET_CODE = #{streetCode}
                </if>

            ) t1
        JOIN
            (
                SELECT
                    EVENT_NAME, ADDRESS, EVENT_TIME
                FROM
                    BLK_CHENGGUAN_EVENT
                WHERE
                    EVENT_TIME BETWEEN #{fromDate} AND SYSDATE
                AND
                    EVENT_SOURCE = '6'
                AND ISDELETE = '0'
            ) t2
        ON
            t1.NAME = t2.EVENT_NAME AND t1.ADDRESS = t2.ADDRESS
        GROUP BY
            t1.PLACE_TYPE, TO_CHAR(t2.EVENT_TIME, 'yyyy-mm')

    </select>

    <select id="countThreeSmallEventByType" resultMap="nameValueTypeModel">
        SELECT
		    EVENT_TYPE AS NAME, COUNT(*) AS VALUE
        FROM
            BLK_CHENGGUAN_EVENT
        WHERE
            EVENT_TYPE IS NOT NULL
        AND ISDELETE = '0'
        <if test="street != null and street !=''">
            AND JD = #{street}
        </if>
        GROUP BY
            EVENT_TYPE
        ORDER BY
            VALUE DESC
    </select>

    <select id="countUndisposedByType" resultMap="nameValueTypeModel">
        SELECT
		    EVENT_TYPE AS NAME, COUNT(*) AS VALUE
        FROM
            BLK_CHENGGUAN_EVENT
        WHERE
            STATE >= 2
        AND ISDELETE = '0'
        <if test="street != null and street !=''">
            AND JD = #{street}
        </if>
        AND
            <if test="eventTypes != null and eventTypes.size() > 0">
                <foreach collection="eventTypes" item="eventType" open="(" close=")" separator="OR">
                    EVENT_TYPE = #{eventType}
                </foreach>
            </if>
            <if test="eventTypes == null or eventTypes.size() == 0">
                1 != 1
            </if>
        GROUP BY
            EVENT_TYPE
    </select>

    <select id="countThreeSmallPlaceByStreet" resultMap="nameValueTypeModel">
        SELECT
            t1.VALUE AS VALUE, t2.STREET_NAME AS NAME
        FROM
            (
                SELECT
                    STREET_CODE, COUNT(*) AS VALUE
                FROM
                    "BLK_SANXIAO_PLACE"
                WHERE
                    STREET_CODE IS NOT NULL
                <if test="hasTrouble != null and hasTrouble !=''">
                    AND HAS_TROUBLE = #{hasTrouble}
                </if>
                GROUP BY
                    STREET_CODE
            ) t1
        JOIN
            (
                SELECT
                    DISTINCT STREET_CODE, STREET_NAME
                FROM
                    COMMUNITY_CODE
                <where>
                    <if test="street != null and street !=''">
                        STREET_NAME = #{street}
                    </if>
                </where>
            ) t2
        ON
            t1.STREET_CODE = t2.STREET_CODE
    </select>
    
</mapper>