<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.hiddendanger.dao.IotDeviceMapper">

    <select id="getIOT_DEVICE_Increment" resultType="java.lang.Integer">
        select SEQ_IOT_DEVICE.nextval from dual
    </select>

    <!--物联网传感器设备-->
    <select id="getIOT_DEVICE_list" parameterType="java.lang.String" resultType="com.cetccity.operationcenter.webframework.web.model.iot.IOT_DEVICE">
        select  NAME,DEVICE_CODE,ADDRESS
        from IOT_DEVICE
        where 1=1
        <if test="DEVICE_CODE != null">
            and DEVICE_CODE = #{DEVICE_CODE}
        </if>
    </select>

    <select id="getIOT_DEVICE_OBJ" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IOT_DEVICE" resultType="com.cetccity.operationcenter.webframework.web.model.iot.IOT_DEVICE">
        select  ID,NAME,DEVICE_CODE,JD84,WD84,ADDRESS,CREATE_TIME,UPDATE_TIME,UPDATE_STATUS,UUID,REGION,
        STREET,DEVICE_TYPE,JDSZ,WDSZ,REGION_CODE,STREET_CODE,COMMUNITY_CODE
        from IOT_DEVICE where 1=1
        <if test="DEVICE_CODE != null">
            and DEVICE_CODE = #{DEVICE_CODE}
        </if>
    </select>

    <insert id="insertIOT_DEVICE" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IOT_DEVICE">
        insert into IOT_DEVICE (ID,NAME,DEVICE_CODE,JD84,WD84,ADDRESS,CREATE_TIME,UPDATE_TIME,UUID,DEVICE_TYPE,OBJECT_ID)
        values (#{ID,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR},#{DEVICE_CODE,jdbcType=VARCHAR},
         #{JD84,jdbcType=VARCHAR}, #{WD84,jdbcType=VARCHAR},#{ADDRESS,jdbcType=VARCHAR},sysdate,
        sysdate, #{UUID,jdbcType=VARCHAR}, #{DEVICE_TYPE,jdbcType=VARCHAR},#{OBJECT_ID,jdbcType=VARCHAR})
    </insert>

    <select id="iotDeviceTrendTwo" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT b.device_name X,a.数量 FROM
        (SELECT device_type,count(*) 数量 from IOT_DEVICE GROUP BY device_type)a,
        IOT_CODE b
        WHERE a.device_type = b.device_type
    </select>

    <delete id="deleteIOT_DEVICE" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IOT_DEVICE">
      DELETE FROM IOT_DEVICE
       <where>
           <if test="DEVICE_TYPE != null">
               and DEVICE_TYPE = #{DEVICE_TYPE}
           </if>
       </where>
    </delete>

    <resultMap id="BaseResultMap" type="com.cetccity.operationcenter.webframework.web.model.iot.IotDeviceModel">
        <result column="ID" jdbcType="DECIMAL" property="id" />
        <result column="NAME" jdbcType="OTHER" property="name" />
        <result column="DEVICE_CODE" jdbcType="OTHER" property="deviceCode" />
        <result column="JD84" jdbcType="OTHER" property="jd84" />
        <result column="WD84" jdbcType="OTHER" property="wd84" />
        <result column="ADDRESS" jdbcType="OTHER" property="address" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
        <result column="UPDATE_STATUS" jdbcType="OTHER" property="updateStatus" />
        <result column="UUID" jdbcType="OTHER" property="uuid" />
        <result column="REGION" jdbcType="OTHER" property="region" />
        <result column="RESERVED3" jdbcType="OTHER" property="reserved3" />
        <result column="RESERVED4" jdbcType="OTHER" property="reserved4" />
        <result column="RESERVED5" jdbcType="OTHER" property="reserved5" />
        <result column="STREET" jdbcType="OTHER" property="street" />
        <result column="DEVICE_TYPE" jdbcType="VARCHAR" property="deviceType" />
        <result column="JDSZ" jdbcType="OTHER" property="jdsz" />
        <result column="WDSZ" jdbcType="OTHER" property="wdsz" />
        <result column="REGION_CODE" jdbcType="VARCHAR" property="regionCode" />
        <result column="STREET_CODE" jdbcType="VARCHAR" property="streetCode" />
        <result column="COMMUNITY_CODE" jdbcType="VARCHAR" property="communityCode" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, NAME, DEVICE_CODE, JD84, WD84, ADDRESS, CREATE_TIME, UPDATE_TIME, UPDATE_STATUS,
    UUID, REGION, RESERVED3, RESERVED4, RESERVED5, STREET, DEVICE_TYPE, JDSZ, WDSZ, REGION_CODE,
    STREET_CODE, COMMUNITY_CODE
  </sql>
    <select id="selectByExample" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IotDeviceModelExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from ZHFTYJJCPT.IOT_DEVICE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IotDeviceModelExample">
        delete from ZHFTYJJCPT.IOT_DEVICE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IotDeviceModel">
        <selectKey keyProperty="id" order="AFTER" resultType="java.math.BigDecimal">
            Oracle
        </selectKey>
        insert into ZHFTYJJCPT.IOT_DEVICE (NAME, DEVICE_CODE, JD84,
        WD84, ADDRESS, CREATE_TIME,
        UPDATE_TIME, UPDATE_STATUS, UUID,
        REGION, RESERVED3, RESERVED4,
        RESERVED5, STREET, DEVICE_TYPE,
        JDSZ, WDSZ, REGION_CODE,
        STREET_CODE, COMMUNITY_CODE)
        values (#{name,jdbcType=OTHER}, #{deviceCode,jdbcType=OTHER}, #{jd84,jdbcType=OTHER},
        #{wd84,jdbcType=OTHER}, #{address,jdbcType=OTHER}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=DATE}, #{updateStatus,jdbcType=OTHER}, #{uuid,jdbcType=OTHER},
        #{region,jdbcType=OTHER}, #{reserved3,jdbcType=OTHER}, #{reserved4,jdbcType=OTHER},
        #{reserved5,jdbcType=OTHER}, #{street,jdbcType=OTHER}, #{deviceType,jdbcType=VARCHAR},
        #{jdsz,jdbcType=OTHER}, #{wdsz,jdbcType=OTHER}, #{regionCode,jdbcType=VARCHAR},
        #{streetCode,jdbcType=VARCHAR}, #{communityCode,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IotDeviceModel">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.math.BigDecimal">
            SELECT MAX(ID)+1 as id FROM IOT_DEVICE
        </selectKey>
        insert into ZHFTYJJCPT.IOT_DEVICE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="deviceCode != null">
                DEVICE_CODE,
            </if>
            <if test="jd84 != null">
                JD84,
            </if>
            <if test="wd84 != null">
                WD84,
            </if>
            <if test="address != null">
                ADDRESS,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="updateStatus != null">
                UPDATE_STATUS,
            </if>
            <if test="uuid != null">
                UUID,
            </if>
            <if test="region != null">
                REGION,
            </if>
            <if test="reserved3 != null">
                RESERVED3,
            </if>
            <if test="reserved4 != null">
                RESERVED4,
            </if>
            <if test="reserved5 != null">
                RESERVED5,
            </if>
            <if test="street != null">
                STREET,
            </if>
            <if test="deviceType != null">
                DEVICE_TYPE,
            </if>
            <if test="jdsz != null">
                JDSZ,
            </if>
            <if test="wdsz != null">
                WDSZ,
            </if>
            <if test="regionCode != null">
                REGION_CODE,
            </if>
            <if test="streetCode != null">
                STREET_CODE,
            </if>
            <if test="communityCode != null">
                COMMUNITY_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=OTHER},
            </if>
            <if test="name != null">
                #{name,jdbcType=OTHER},
            </if>
            <if test="deviceCode != null">
                #{deviceCode,jdbcType=OTHER},
            </if>
            <if test="jd84 != null">
                #{jd84,jdbcType=OTHER},
            </if>
            <if test="wd84 != null">
                #{wd84,jdbcType=OTHER},
            </if>
            <if test="address != null">
                #{address,jdbcType=OTHER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATE},
            </if>
            <if test="updateStatus != null">
                #{updateStatus,jdbcType=OTHER},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=OTHER},
            </if>
            <if test="region != null">
                #{region,jdbcType=OTHER},
            </if>
            <if test="reserved3 != null">
                #{reserved3,jdbcType=OTHER},
            </if>
            <if test="reserved4 != null">
                #{reserved4,jdbcType=OTHER},
            </if>
            <if test="reserved5 != null">
                #{reserved5,jdbcType=OTHER},
            </if>
            <if test="street != null">
                #{street,jdbcType=OTHER},
            </if>
            <if test="deviceType != null">
                #{deviceType,jdbcType=VARCHAR},
            </if>
            <if test="jdsz != null">
                #{jdsz,jdbcType=OTHER},
            </if>
            <if test="wdsz != null">
                #{wdsz,jdbcType=OTHER},
            </if>
            <if test="regionCode != null">
                #{regionCode,jdbcType=VARCHAR},
            </if>
            <if test="streetCode != null">
                #{streetCode,jdbcType=VARCHAR},
            </if>
            <if test="communityCode != null">
                #{communityCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cetccity.operationcenter.webframework.web.model.iot.IotDeviceModelExample" resultType="java.lang.Long">
        select count(*) from ZHFTYJJCPT.IOT_DEVICE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update ZHFTYJJCPT.IOT_DEVICE
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=DECIMAL},
            </if>
            <if test="record.name != null">
                NAME = #{record.name,jdbcType=OTHER},
            </if>
            <if test="record.deviceCode != null">
                DEVICE_CODE = #{record.deviceCode,jdbcType=OTHER},
            </if>
            <if test="record.jd84 != null">
                JD84 = #{record.jd84,jdbcType=OTHER},
            </if>
            <if test="record.wd84 != null">
                WD84 = #{record.wd84,jdbcType=OTHER},
            </if>
            <if test="record.address != null">
                ADDRESS = #{record.address,jdbcType=OTHER},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
            </if>
            <if test="record.updateStatus != null">
                UPDATE_STATUS = #{record.updateStatus,jdbcType=OTHER},
            </if>
            <if test="record.uuid != null">
                UUID = #{record.uuid,jdbcType=OTHER},
            </if>
            <if test="record.region != null">
                REGION = #{record.region,jdbcType=OTHER},
            </if>
            <if test="record.reserved3 != null">
                RESERVED3 = #{record.reserved3,jdbcType=OTHER},
            </if>
            <if test="record.reserved4 != null">
                RESERVED4 = #{record.reserved4,jdbcType=OTHER},
            </if>
            <if test="record.reserved5 != null">
                RESERVED5 = #{record.reserved5,jdbcType=OTHER},
            </if>
            <if test="record.street != null">
                STREET = #{record.street,jdbcType=OTHER},
            </if>
            <if test="record.deviceType != null">
                DEVICE_TYPE = #{record.deviceType,jdbcType=VARCHAR},
            </if>
            <if test="record.jdsz != null">
                JDSZ = #{record.jdsz,jdbcType=OTHER},
            </if>
            <if test="record.wdsz != null">
                WDSZ = #{record.wdsz,jdbcType=OTHER},
            </if>
            <if test="record.regionCode != null">
                REGION_CODE = #{record.regionCode,jdbcType=VARCHAR},
            </if>
            <if test="record.streetCode != null">
                STREET_CODE = #{record.streetCode,jdbcType=VARCHAR},
            </if>
            <if test="record.communityCode != null">
                COMMUNITY_CODE = #{record.communityCode,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ZHFTYJJCPT.IOT_DEVICE
        set ID = #{record.id,jdbcType=DECIMAL},
        NAME = #{record.name,jdbcType=OTHER},
        DEVICE_CODE = #{record.deviceCode,jdbcType=OTHER},
        JD84 = #{record.jd84,jdbcType=OTHER},
        WD84 = #{record.wd84,jdbcType=OTHER},
        ADDRESS = #{record.address,jdbcType=OTHER},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
        UPDATE_STATUS = #{record.updateStatus,jdbcType=OTHER},
        UUID = #{record.uuid,jdbcType=OTHER},
        REGION = #{record.region,jdbcType=OTHER},
        RESERVED3 = #{record.reserved3,jdbcType=OTHER},
        RESERVED4 = #{record.reserved4,jdbcType=OTHER},
        RESERVED5 = #{record.reserved5,jdbcType=OTHER},
        STREET = #{record.street,jdbcType=OTHER},
        DEVICE_TYPE = #{record.deviceType,jdbcType=VARCHAR},
        JDSZ = #{record.jdsz,jdbcType=OTHER},
        WDSZ = #{record.wdsz,jdbcType=OTHER},
        REGION_CODE = #{record.regionCode,jdbcType=VARCHAR},
        STREET_CODE = #{record.streetCode,jdbcType=VARCHAR},
        COMMUNITY_CODE = #{record.communityCode,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
</mapper>