<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.hiddendanger.dao.IotMonitoringDataEncodeMapper">
    
    <select id="getIOT_MONITORING_DATA_ENCODE" parameterType="com.cetccity.operationcenter.webframework.web.model.incident.loadmap.IOT_MONITORING_DATA_ENCODE" resultType="com.cetccity.operationcenter.webframework.web.model.incident.loadmap.IOT_MONITORING_DATA_ENCODE">
        select  ID,DEVICE_NAME,ENCODE_DATA,DATA_NAME,DATA_TYPE,ACCURACY,UNIT,DESCRIPT
        from IOT_MONITORING_DATA_ENCODE where 1=1
        <if test="ENCODE_DATA != null">
            and ENCODE_DATA = #{ENCODE_DATA}
        </if>

    </select>

</mapper>