<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetccity.operationcenter.webframework.hiddendanger.dao.QajjPucentpVMapper">

    <select id="getQAJJ_PUCENTP_V" parameterType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.QAJJ_PUCENTP_V" resultType="com.cetccity.operationcenter.webframework.hiddendanger.dao.entity.QAJJ_PUCENTP_V">
        select ROWID,JD84,WD84,ADDRESS,CREATETIME,AREACODE,CREATEBY,ENTPKIND,ENTPNAME,GRIDID,ID,INNERID,ISLITTLE,UPDATEBY,
        UPDATETIME,UPLOADTIME,YXY_UPDATEDTIME,QUCODE,JDCODE,SQCODE,ACREAGE,DELETEBY,DELETEFLAG,DELETEREASON,DELETETIME,
        ECOTYPE,EMAIL,EMPLOYEENUM,EMPQTY,ENTERPRISESTATE,ENTPCODE,ENTPSIZE,FAXTELEPHONE,FILLDATE,FILLENTPNAME,FILLMAN,
        FILLTEL,FIXEDASSETS,HAVECREDENTIAL,HPHAZARDPOINT_STATUS,INDUSTRIALPARK,INDUSTRYTYPE,INSURENUMBER,ISFIREKEY,
        ISRATE,ISSIZE,ISSUBLETENTP,LESSORNAME,LESSORTEL,LINKNAME,LINKTEL,LITTLEINDUSTRYTYPE,LITTLETYPE,MAINMATERIAL,
        MAINPRODUCT,MAINPRODUCTION,MANAGEHIGHTNUMBER,MANAGEZONE,MAPX,MAPY,MODELENTPFLAG,MONITORTYPE,NEEDINSURENUMBER,OTHER,
        POLICYNAME,POLICYTEL,POSTCODE,PRODUCTLINENUM,PUREWORK,PY,RATE,REGISTERADDR,REGISTERDATE,REGISTERDEPT,REGISTERID,
        REGISTERMONTY,REGISTERSAFEENGINEER,REGISTERUSER,RELATIONS,REVIEWDATE,REVIEWDEPTNAME,SAFEEDUQTY,SIMPLENAME,
        SPECIALJOBBOOKNUM,SPECIALJOBNUM,SPECITYENTP,STATE,STATEDATE,STATEMESSAGE,TEMPNUM,TOTALEARNING,TRADECON,
        UNITTEL,VALIDDATE_END,VALIDDATE_START,WEBSITE,STREET,STREET_CODE,COMMUNITY_CODE,REGION_CODE,OBJECT_ID
        from QAJJ_PUCENTP_V where 1=1
        <if test="ROWID != null">
            and ROWID = #{ROWID}
        </if>
        <if test="AREACODE != null">
            and AREACODE = #{AREACODE}
        </if>
    </select>

</mapper>